@@include('components/meta.html')
@@include('components/header.html')

    <div class="main" role="main">
        <div class="banner-about" style="background-image: url('assets/img/banner-about.jpg')">
            <div class="container">
                <h2>We are Ads id lelang </h2>
            </div>
        </div>

        <div class="why-us">
            <header class="header-post text-center">
                <h2>Kenapa memilih Ads id lelang</h2>
                <p><em>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, </em></p>
            </header>
            <div class="row-centered">
                <article class="whyus-item">
                    <div class="iconx">
                        <span class="ti-shield"></span>
                    </div>
                    <div class="desc">
                        <h4>Transparent</h4>
                        <p>Transparency breeds trust and trust is the foundation of great teamwork. This trust extends to customers and opens us up for more honest feedback</p>
                    </div>
                </article>

                <article class="whyus-item">
                    <div class="iconx">
                        <span class="ti-alarm-clock"></span>
                    </div>
                    <div class="desc">
                        <h4>Good Time</h4>
                        <p>Don’t take yourself too seriously. Pause to celebrate success – but don’t gloat in it. Stop to analyze failure – but don’t dwell on it</p>
                    </div>
                </article>

                <article class="whyus-item">
                    <div class="iconx">
                        <span class="ti-pencil-alt2"></span>
                    </div>
                    <div class="desc">
                        <h4>Bold</h4>
                        <p>Always strive to turn ideas into actions and never be content with the status quo. Strive for quality in all you do. Above all, be free to express yourself however you damn well please, regardless of what others think</p>
                    </div>
                </article>

                <article class="whyus-item">
                    <div class="iconx">
                        <span class="ti-palette"></span>
                    </div>
                    <div class="desc">
                        <h4>Dolorem</h4>
                        <p>Find new ways to be better and never take “This is how it was always done” as a valid reason. But also understand that wheels don’t always need reinventing</p>
                    </div>
                </article>
            </div>
        </div> <!-- //why-us -->

        <section class="how-start row-centered-lg">
            <div class="big-thumb">
                <figure>
                    <img src="assets/img/thumb-about.jpg" alt="">
                </figure>
            </div>

            <div class="desc">
                <h3>How did we start?</h3>
                <p>Technology has made booking flights, renting cars, buying electronics and a thousand     other things easier. Why didn’t someone do the same for renting your property?</p>
                <p>That’s how Zora got started. Someone needed to step up and use technology to make the independent landlord’s life easier. Turned out it was us.</p>
                <p>Our team has the right experience and expertise, so we got busy building a convenient online platform that takes the pain out of renting your property</p>
                <p>We’ve learned a lot about landlords and tenants along the way. And no doubt we still have a few more things to learn, but Zora is already helping people land great tenants.</p>
            </div>
        </section>
        
    </div> <!-- //main -->
    <div class="space60"></div>
@@include('components/footer.html')