@@include('components/meta.html')
@@include('components/header.html')
    
    <div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->
    <div class="space20"></div>

    <div class="main" role="main">
            <div class="row-centered">
                <h1 class="title-lg">Check out</h1>
                <section class="hero-checkout">
                    <figure>
                        <img src="assets/img/thumb-checkout.jpg" alt="">
                    </figure>
                    <div class="desc">
                        <h2>surpriserequirements.com</h2>
                        <p class="prod-owner">
                            <span>Website</span>
                            <span>|</span>
                            <span>Dijual oleh : Dadang Suradang </span>
                            <span class="ion-checkmark-circled"></span>
                        </p>
                    </div>
                </section> <!-- //hero-checkout -->

                <div class="checkout-block">
                    <div class="sm-row-centered">
                        <h2 class="title-sm text-center">Ringkasan Pembayaran</h2>

                        <div class="table-responsive tb-summary">
                            <table class="table">
                                <tr>
                                    <td style="width: 40%">Total Harga Barang </td>
                                    <td>: </td>
                                    <td>Rp.20.399.000</td>
                                </tr>
                                 <tr>
                                    <td style="width: 40%">Deposit</td>
                                    <td>: </td>
                                    <td>Rp. 399.000</td>
                                </tr>
                                 <tr>
                                    <td>Asuransi</td>
                                    <td>: </td>
                                    <td>Rp. 10.000</td>
                                </tr>
                            </table>
                            <table class="table tb-subtotal">
                                 <tr>
                                    <td class="tb-subtotal-item">
                                        <span>Total Pembayaran</span>
                                    </td>
                                    <td></td>
                                    <td class="tb-subtotal-item">
                                        <span>Rp. 20.000.000</span>
                                    </td>
                                </tr>
                            </table >
                        </div>

                        <h2 class="title-sm text-center">Pilih Metode Pembayaran</h2>

                        <div class="box-payment">
                            <div class="radio">
                              <label>
                                <input type="radio" name="togglerRadio" id="" value="" class="js-cxToggle">
                                <span class="sub-cxbox">Dompet / eWallet</span>
                              </label>
                            </div>
                       
                            <div class="desc-content">
                                <p>Saldo dompet anda tersisa : <strong class="text-blue">Rp 0</strong></p><p>Saldo anda tidak mencukupi untuk transaksi ini. Mohon gunakan metode pembayaran lainnya.</p>
                            </div>
                        </div> <!-- //box-payment -->

                        <div class="box-payment">
                            <div class="radio">
                              <label>
                                <input type="radio" name="togglerRadio" id="" value="" class="js-cxToggle">
                                <span class="sub-cxbox">Indomaret</span>
                              </label>
                            </div>
                       
                            <div class="desc-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
                            </div>
                        </div> <!-- //box-payment -->

                        <div class="box-payment">
                            <div class="radio js-cxToggle">
                              <label>
                                <input type="radio" name="togglerRadio" id="" value="" class="js-cxToggle">
                                <span class="sub-cxbox">Virtual Account / ATM</span>
                              </label>
                            </div>
                       
                            <div class="desc-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
                            </div>
                        </div> <!-- //box-payment -->   

                        <div class="box-payment">
                            <div class="radio">
                              <label>
                                <input type="radio" name="togglerRadio" id="" value="" class="js-cxToggle">
                                <span class="sub-cxbox">Kartu kredit </span>
                              </label>
                            </div>
                       
                            <div class="desc-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
                            </div>
                        </div> <!-- //box-payment -->

                        <div class="box-payment">
                            <div class="radio">
                              <label>
                                <input type="radio" name="togglerRadio" id="" value="" class="js-cxToggle">
                                <span class="sub-cxbox">Mandiri Click</span>
                              </label>
                            </div>
                       
                            <div class="desc-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
                            </div>
                        </div> <!-- //box-payment -->

                        <div class="box-payment">
                            <div class="radio">
                              <label>
                                <input type="radio" name="togglerRadio" id="" value="" class="js-cxToggle">
                                <span class="sub-cxbox">Cimb Click</span>
                              </label>
                            </div>
                       
                            <div class="desc-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
                            </div>
                        </div> <!-- //box-payment -->

                        <div class="box-payment">
                            <div class="radio">
                              <label>
                                <input type="radio" name="togglerRadio" id="" value="" class="js-cxToggle">
                                <span class="sub-cxbox">BCA Klikpay</span>
                              </label>
                            </div>
                        </div> <!-- //box-payment -->

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Saya setuju dengan Syarat & Ketentuan Donasi di Kitabisa.com
                            </label>
                        </div>
                    </div>
                </div>

                <div class="space30"></div>
                <div class="btn-full">
                    <input type="button" value="Lanjutkan" class="btn-blue-full"> 
                </div>
                <div class="space30"></div>
            </div>
    </div> <!-- //main -->
@@include('components/footer.html')