@@include('components/meta.html')
@@include('components/header.html')
    <div class="main" role="main">
        <section class="hero">
            <div class="container">
                <article>
                    <h1>Marketplace For Internet <br> Publishing Community</h1>
                    <span class="small">Buy/Sell/Trade Domain, Website, Script, Content dll</span>
                </article>
            </div>
        </section> <!-- //hero -->

        <section class="prod-category">
            <div class="container">
                <header class="head-md-center">
                    <h2>Kategori Produk</h2>
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, </p>
                </header>
                <div class="prod-ct-wrap">
                    <article class="prod-ct-item hvr-float-shadow">
                        <a href="#">
                            <div class="icons color-box-1">
                                <span class="ti-write"></span>
                            </div>
                            <h5>Konten</h5>
                        </a>
                    </article>

                    <article class="prod-ct-item hvr-float-shadow">
                        <a href="#">
                            <div class="icons color-box-2">
                                <span class="ti-desktop"></span>
                            </div>
                            <h5>Website</h5>
                        </a>
                    </article>

                    <article class="prod-ct-item hvr-float-shadow">
                        <a href="#">
                            <div class="icons color-box-3">
                                <span class="ti-world"></span>
                            </div>
                            <h5>Domain</h5>
                        </a>
                    </article>

                    <article class="prod-ct-item hvr-float-shadow">
                        <a href="#">
                            <div class="icons color-box-4">
                                <span class="ti-marker"></span>
                            </div>
                            <h5>Service</h5>
                        </a>
                    </article>

                    <article class="prod-ct-item hvr-float-shadow">
                        <a href="#">
                            <div class="icons color-box-5">
                                <span class="ti-server"></span>
                            </div>
                            <h5>Hosting</h5>
                        </a>
                    </article>

                    <article class="prod-ct-item hvr-float-shadow">
                        <a href="#">
                            <div class="icons color-box-6">
                                <span class="ti-layout-media-center-alt"></span>
                            </div>
                            <h5>Theme</h5>
                        </a>
                    </article>

                    <article class="prod-ct-item hvr-float-shadow">
                        <a href="#">
                            <div class="icons color-box-7">
                                <span class="ti-tablet"></span>
                            </div>
                            <h5>App</h5>
                        </a>
                    </article>
                </div>
            </div>
        </section> <!-- //prod-category -->

        <section class="prod-best">
            <div class="container">
                <header class="head-md-center">
                    <h2>Produk Pilihan</h2>
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, </p>
                </header>
                <section class="best-item">
                    <article>
                        <div class="inner">
                            <figure>
                                <div class="overlay">
                                    <a href="#" class="js-vote"><span class="ion-star"></span></a>
                                    <a href="#" class="js-vote"><span class="ion-heart"></span></a>
                                </div>
                                <img src="./assets/img/thumbs.jpg" alt="">
                            </figure>
                            <div class="desc">
                                <header>
                                    <h4>Nam aliquam mauris</h4>
                                    <div class="ct-prod">
                                        <a href="#">Website</a>
                                        <a href="#">Dadang Suradang</a>
                                        <span class="ion-checkmark-circled"></span>
                                    </div>
                                </header>
                                <p>Sudah merupakan fakta bahwa seorang pembaca akan terpengaruh oleh isi tulisan dari sebuah halaman saat ia melihat tata letaknya. </p>
                                <footer>
                                    <div class="days">
                                        <span class="ion-ios-stopwatch-outline"></span>
                                        <span>12 Days</span>
                                    </div>
                                    <div class="price">
                                        <span>Rp. 12000</span>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="inner">
                            <figure>
                                <img src="./assets/img/thumb6.jpg" alt="">
                                <div class="overlay">
                                    <a href="#" class="js-vote"><span class="ion-star"></span></a>
                                    <a href="#" class="js-vote"><span class="ion-heart"></span></a>
                                </div>
                            </figure>
                            <div class="desc">
                                <header>
                                    <h4>Nam aliquam mauris</h4>
                                    <div class="ct-prod">
                                        <a href="#">Website</a>
                                        <a href="#">Dadang Suradang</a>
                                        <span class="ion-checkmark-circled"></span>
                                    </div>
                                </header>
                                <p>Jual Web Indo Niche Jerawat, Kisaran 1600 uv per day + Berserta Hostingnya + OB Murah 1,3jt Saja</p>
                                <footer>    
                                    <div class="days">
                                        <span class="ion-ios-stopwatch-outline"></span>
                                        <span>12 Days</span>
                                    </div>
                                    <div class="price">
                                        <span>Rp. 12000</span>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="inner">
                            <figure>
                                <img src="./assets/img/thumb7.jpg">
                                <div class="overlay">
                                    <a href="#" class="js-vote"><span class="ion-star"></span></a>
                                    <a href="#" class="js-vote"><span class="ion-heart"></span></a>
                                </div>
                            </figure>
                            <div class="desc">
                                <header>
                                    <h4>    Suspendisse condimentum lacinia</h4>
                                    <div class="ct-prod">
                                        <a href="#">Website</a>
                                        <a href="#">Dadang Suradang</a>
                                        <span class="ion-checkmark-circled"></span>
                                    </div>
                                </header>
                                <p>Sudah merupakan fakta bahwa seorang pembaca akan terpengaruh oleh isi tulisan dari sebuah halaman saat ia melihat tata letaknya. </p>
                                <footer>
                                    <div class="days">
                                        <span class="ion-ios-stopwatch-outline"></span>
                                        <span>12 Days</span>
                                    </div>
                                    <div class="price">
                                        <span>Rp. 12000</span>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="inner">
                            <figure>
                                <img src="./assets/img/thumb8.jpg">
                                <div class="overlay">
                                    <a href="#" class="js-vote"><span class="ion-star"></span></a>
                                    <a href="#" class="js-vote"><span class="ion-heart"></span></a>
                                </div>
                            </figure>
                            <div class="desc">
                                <header>
                                    <h4>Nam aliquam mauris</h4>
                                    <div class="ct-prod">
                                        <a href="#">Website</a>
                                        <a href="#">Dadang Suradang</a>
                                        <span class="ion-checkmark-circled"></span>
                                    </div>
                                </header>
                                <p>Jual Web Indo Niche Jerawat, Kisaran 1600 uv per day + Berserta Hostingnya + OB Murah 1,3jt Saja</p>
                                <footer>
                                    <div class="days">
                                        <span class="ion-ios-stopwatch-outline"></span>
                                        <span>12 Days</span>
                                    </div>
                                    <div class="price">
                                        <span>Rp. 12000</span>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="inner">
                            <figure>
                                <img src="./assets/img/thumbs.jpg" alt="">
                                <div class="overlay">
                                    <a href="#" class="js-vote"><span class="ion-star"></span></a>
                                    <a href="#" class="js-vote"><span class="ion-heart"></span></a>
                                </div>
                            </figure>
                            <div class="desc">
                                <header>
                                    <h4>Nam aliquam mauris</h4>
                                    <div class="ct-prod">
                                        <a href="#">Website</a>
                                        <a href="#">Dadang Suradang</a>
                                        <span class="ion-checkmark-circled"></span>
                                    </div>
                                </header>
                                <p>Sudah merupakan fakta bahwa seorang pembaca akan terpengaruh oleh isi tulisan dari sebuah halaman saat ia melihat tata letaknya. </p>
                                <footer>
                                    <div class="days">
                                        <span class="ion-ios-stopwatch-outline"></span>
                                        <span>12 Days</span>
                                    </div>
                                    <div class="price">
                                        <span>Rp. 12000</span>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="inner">
                            <figure>
                                <img src="./assets/img/thumb6.jpg" alt="">
                                <div class="overlay">
                                    <a href="#" class="js-vote"><span class="ion-star"></span></a>
                                    <a href="#" class="js-vote"><span class="ion-heart"></span></a>
                                </div>
                            </figure>
                            <div class="desc">
                                <header>
                                    <h4>Nam aliquam mauris</h4>
                                    <div class="ct-prod">
                                        <a href="#">Website</a>
                                        <a href="#">Dadang Suradang</a>
                                        <span class="ion-checkmark-circled"></span>
                                    </div>
                                </header>
                                <p>Jual Web Indo Niche Jerawat, Kisaran 1600 uv per day + Berserta Hostingnya + OB Murah 1,3jt Saja</p>
                                <footer>    
                                    <div class="days">
                                        <span class="ion-ios-stopwatch-outline"></span>
                                        <span>12 Days</span>
                                    </div>
                                    <div class="price">
                                        <span>Rp. 12000</span>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </article>
                </section>
                <div class="text-center">
                    <a href="#" class="btn-blue">Lihat Semua</a>
                </div>
            </div>
        </section> <!-- //prod-best -->

        <section class="auctions">
            <div class="container">
                <div class="auction-col">
                    <header class="head-md-left">
                        <h2><span class="ti-write"></span> Konten</h2>
                        <span class="small">Jual beli content. Artikel/images/jasa penulisan.</span>
                    </header>

                    <div class="table-responsive">
                        <table class="table tb-auctions">
                            <tr>
                                <td style="width: 50%">
                                    <h5>
                                        <a href='#'>Lelang Artikel Inggris#578 Total 10 Artikel Health SkinCare 300-500 Kata Murah...
                                        </a>
                                    </h5>
                                    <span class="seller">Penjual : Little Pokis <span class="ion-checkmark-circled"></span></span>
                                </td>
                                <td class="tb-auc-date">
                                    <span>31 Hari</span>
                                    <span>6 jam  5 menit</span>
                                    <span>1 detik</span>
                                </td>
                                <td class="price">
                                   <span>Rp. 300.000</span> 
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h5>
                                        <a href="#">Lelang Artikel Inggris#578 Total 10 Artikel Health SkinCare 300-500 Kata Murah...</a>
                                    </h5>
                                    <span class="seller">Penjual : Little Pokis <span class="ion-checkmark-circled"></span></span>
                                </td>
                                <td class="tb-auc-date">
                                    <span>31 Hari</span>
                                    <span>6 jam  5 menit</span>
                                    <span>1 detik</span>
                                </td>
                                <td class="price">
                                   <span>Rp. 300.000</span> 
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h5>
                                        <a href="#">(Relist) 10 Artikel tentang Asam Urat | 300-400 kata…</a>
                                    </h5>
                                    <span class="seller">Penjual : Little Pokis <span class="ion-checkmark-circled"></span></span>
                                </td>
                                <td class="tb-auc-date">
                                    <span>2 Hari</span>
                                    <span>48 jam  5 menit</span>
                                    <span>2 detik</span>
                                </td>
                                <td class="price">
                                   <span>Rp. 200.000</span> 
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="text-left">
                        <a href="#" class="btn-white">Lihat Semua</a>
                    </div>
                </div>

                <div class="auction-col">
                    <header class="head-md-left">
                        <h2><span class="ti-world"></span> Domain</h2>
                        <span class="small">Jual beli content. Artikel/images/jasa penulisan.</span>
                    </header>

                    <div class="table-responsive">
                        <table class="table tb-auctions">
                            <tr>
                                <td style="width: 50%">
                                    <h5>
                                        <a href='#'>Lelang Artikel Inggris#578 Total 10 Artikel Health SkinCare 300-500 Kata Murah...
                                        </a>
                                    </h5>
                                    <span class="seller">Penjual : Little Pokis <span class="ion-checkmark-circled"></span></span>
                                </td>
                                <td class="tb-auc-date">
                                    <span>31 Hari</span>
                                    <span>6 jam  5 menit</span>
                                    <span>1 detik</span>
                                </td>
                                <td class="price">
                                   <span>Rp. 300.000</span> 
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h5>
                                        <a href="#">Lelang Artikel Inggris#578 Total 10 Artikel Health SkinCare 300-500 Kata Murah...</a>
                                    </h5>
                                    <span class="seller">Penjual : Little Pokis <span class="ion-checkmark-circled"></span></span>
                                </td>
                                <td class="tb-auc-date">
                                    <span>31 Hari</span>
                                    <span>6 jam  5 menit</span>
                                    <span>1 detik</span>
                                </td>
                                <td class="price">
                                   <span>Rp. 300.000</span> 
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h5>
                                        <a href="#">(Relist) 10 Artikel tentang Asam Urat | 300-400 kata…</a>
                                    </h5>
                                    <span class="seller">Penjual : Little Pokis <span class="ion-checkmark-circled"></span></span>
                                </td>
                                <td class="tb-auc-date">
                                    <span>2 Hari</span>
                                    <span>48 jam  5 menit</span>
                                    <span>2 detik</span>
                                </td>
                                <td class="price">
                                   <span>Rp. 200.000</span> 
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="text-left">
                        <a href="#" class="btn-white">Lihat Semua</a>
                    </div>
                </div>
            </div>
        </section> <!-- //auctions -->

        <section class="row-counter">
            <div class="container">
                <div class="counter-item">
                    <h5>6,238</h5>
                    <p>Bids This Week</p>
                </div>

                <div class="counter-item">
                    <h5>1,542,890</h5>
                    <p>Open Listings</p>
                </div>

                <div class="counter-item">
                    <h5>$184,526,083</h5>
                    <p>Overall Sales</p>
                </div>

                <div class="counter-item">
                    <h5>$278,420</h5>
                    <p>Sales This Week</p>
                </div>
            </div>
        </section>
    </div> <!-- //main -->
@@include('components/footer.html')