@@include('components/meta.html')
@@include('components/header.html')
    
    <div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->
    <div class="space20"></div>

    <div class="main" role="main">
        <div class="container">
            <header class="head-listing row">
                <div class="head-md-left col-sm-6">
                    <h2><span class="ti-layout-tab-window"></span>&nbsp;Website</h2>
                    <span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                </div>

                <div class="filter-list col-sm-6">
                    <ul>
                        <li>
                           <span class="filter-label">Per halaman</span> 
                           <div class="filter-item">
                                <select class="form-control selectStyle">
                                    <option>100</option>
                                    <option>200</option>
                                    <option>3 Ratus</option>
                                    <option>4 Rakus</option>
                                    <option>5 Rusuk</option>
                                </select>
                            </div>
                        </li> 

                         <li>
                           <span class="filter-label">Sortir Berdasarkan</span> 
                            <div class="filter-item last">
                                <select class="form-control selectStyle">
                                    <option>Harga tinggi ke rendah</option>
                                    <option>Harga seadanya</option>
                                    <option>Harga teman</option>
                                    <option>Harga Kepepet</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

            <div class="table-responsive tb-product">
                <table class="table">
                    <tr>
                        <th style="text-left">Produk</th>
                        <th>Penawar</th>
                        <th>Durasi Waktu</th>
                        <th>Bin</th>
                        <th>Bid Terakhir</th>
                        <th>Status</th>
                    </tr>

                    <tr>
                        <td style="width: 30%">
                            <figure class="prod-thumb">
                                <a href="#"><img src="assets/img/thumb-prod.jpg" alt=""></a>
                            </figure>

                            <div class="prod-desc">
                                <h5>
                                    <a href="#">surpriserequirements.com</a>
                                </h5>
                                <p>Would you like to own an already established, easy to manage t-shirt business…</p>
                                <span class="prod-seller">Penjual : Dadang Suradang</span>
                                <div class="user-rate">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-heart"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <strong>200 Penawar</strong>
                        </td>
                        <td>
                            <span>31 Hari</span><br>
                            <span>2 jam 5 menit 1 deti</span>
                        </td>
                        <td><span class="text-blue">Rp. 200.000.000</span></td>
                        <td><span class="text-blue">Rp. 540.000.000</span></td>
                        <td>
                            <div class="prod-status st-pending">
                                <span class="ion-more"></span>
                                <span>Pending</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <figure class="prod-thumb">
                                <a href="#"><img src="assets/img/thumb-prod2.jpg" alt=""></a>
                            </figure>

                            <div class="prod-desc">
                                <h5>
                                <a href="#">surpriserequirements.com</a>
                                </h5>
                                <p>Would you like to own an already established, easy to manage t-shirt business…</p>
                                <span class="prod-seller">Penjual : Dadang Suradang</span>
                                <div class="user-rate">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-heart"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <strong>200 Penawar</strong>
                        </td>
                        <td>
                            <span>31 Hari</span><br>
                            <span>2 jam 5 menit 1 deti</span>
                        </td>
                        <td><span class="text-blue">Rp. 200.000.000</span></td>
                        <td><span class="text-blue">Rp. 540.000.000</span></td>
                        <td>
                            <div class="prod-status st-close">
                                <span class="ion-minus-circled"></span>
                                <span>Close</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <figure class="prod-thumb">
                                <a href="#"><img src="assets/img/thumb-prod3.jpg" alt=""></a>
                            </figure>

                            <div class="prod-desc">
                                <h5>
                                <a href="#">surpriserequirements.com</a>
                                </h5>
                                <p>Would you like to own an already established, easy to manage t-shirt business…</p>
                                <span class="prod-seller">Penjual : Dadang Suradang</span>
                                <div class="user-rate">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-heart"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <strong>200 Penawar</strong>
                        </td>
                        <td>
                            <span>31 Hari</span><br>
                            <span>2 jam 5 menit 1 deti</span>
                        </td>
                        <td><span class="text-blue">Rp. 200.000.000</span></td>
                        <td><span class="text-blue">Rp. 540.000.000</span></td>
                        <td>
                            <div class="prod-status st-jual">
                                <span class="ion-checkmark-circled"></span>
                                <span>Terjual</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div> <!-- //main -->
@@include('components/footer.html')