@@include('components/meta.html')
@@include('components/header.html')
    
    <div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->
    <div class="space20"></div>

    <div class="main" role="main">
        <div class="container">
            <header class="head-listing row">
                <div class="head-md-left col-sm-6">
                    <h2><span class="ti-layout-tab-window"></span>&nbsp;Website</h2>
                    <span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                </div>

                <div class="filter-list col-sm-6">
                    <ul>
                        <li>
                           <span class="filter-label">Per halaman</span> 
                           <div class="filter-item">
                                <select class="form-control selectStyle">
                                    <option>100</option>
                                    <option>200</option>
                                    <option>3 Ratus</option>
                                    <option>4 Rakus</option>
                                    <option>5 Rusuk</option>
                                </select>
                            </div>
                        </li> 

                         <li>
                           <span class="filter-label">Sortir Berdasarkan</span> 
                            <div class="filter-item last">
                                <select class="form-control selectStyle">
                                    <option>Harga tinggi ke rendah</option>
                                    <option>Harga seadanya</option>
                                    <option>Harga teman</option>
                                    <option>Harga Kepepet</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            
            <div class="rTable rTable--6cols rTable--collapse tb-product">
                 <div style="order:0; width: 30%" class="rTable-cell rTable-cell-head">PRODUK</div>
                 <div style="order:1; width: 30%" class="rTable-cell">
                     <figure class="prod-thumb">
                            <a href="#"><img src="assets/img/thumb-prod.jpg" alt="" data-pin-nopin="true"></a>
                    </figure>
                    <div class="prod-desc">
                        <h5>
                            <a href="#">surpriserequirements.com</a>
                        </h5>
                        <p>Would you like to own an already established, easy to manage t-shirt business…</p>
                        <span class="prod-seller">Penjual : Dadang Suradang</span>
                        <div class="user-rate">
                            <span class="ion-ios-star"></span>
                            <span class="ion-heart"></span>
                        </div>
                    </div>
                 </div>
                 <div style="order:2; width: 30%" class="rTable-cell">
                     <figure class="prod-thumb">
                        <a href="#"><img src="assets/img/thumb-prod2.jpg" alt=""></a>
                     </figure>
                     <div class="prod-desc">
                        <h5>
                            <a href="#">surpriserequirements.com</a>
                        </h5>
                        <p>Would you like to own an already established, easy to manage t-shirt business…</p>
                        <span class="prod-seller">Penjual : Dadang Suradang</span>
                        <div class="user-rate">
                            <span class="ion-ios-star"></span>
                            <span class="ion-heart"></span>
                        </div>
                    </div>
                 </div>
                 <div style="order:3; width: 30%" class="rTable-cell rTable-cell-foot">
                     <figure class="prod-thumb">
                        <a href="#"><img src="assets/img/thumb-prod3.jpg" alt="" data-pin-nopin="true"></a>
                     </figure>
                     <div class="prod-desc">
                        <h5>
                            <a href="#">surpriserequirements.com</a>
                        </h5>
                        <p>Would you like to own an already established, easy to manage t-shirt business…</p>
                        <span class="prod-seller">Penjual : Dadang Suradang</span>
                        <div class="user-rate">
                            <span class="ion-ios-star"></span>
                            <span class="ion-heart"></span>
                        </div>
                    </div>
                 </div>

                 <div style="order:0" class="rTable-cell rTable-cell-head">
                     PENAWAR
                 </div>
                 <div style="order:1" class="rTable-cell">
                     <strong>200 Penawar</strong>
                 </div>
                 <div style="order:2" class="rTable-cell">
                     <strong>200 Penawar</strong>
                 </div>  
                 <div style="order:3" class="rTable-cell rTable-cell-foot">
                     <strong>200 Penawar</strong>
                 </div>

                 <div style="order:0" class="rTable-cell rTable-cell-head">
                     Durasi Waktu
                 </div>
                 <div style="order:1" class="rTable-cell">
                     <span>31 Hari</span>
                     <br><span>2 jam 5 menit 1 detik</span>
                 </div>
                 <div style="order:2" class="rTable-cell">
                     <span>31 Hari</span>
                     <br><span>2 jam 5 menit 1 deti</span>
                 </div>
                 <div style="order:3" class="rTable-cell rTable-cell-foot">
                     <span>31 Hari</span>
                     <br><span>2 jam 5 menit 1 detik</span>
                 </div>

                 <div style="order:0" class="rTable-cell rTable-cell-head">
                     BIN
                 </div>
                 <div style="order:1" class="rTable-cell">
                     <span class="text-blue">Rp. 200.000.000</span>
                 </div>
                 <div style="order:2" class="rTable-cell">
                     <span class="text-blue">Rp. 200.000.000</span>
                 </div>
                 <div style="order:3" class="rTable-cell rTable-cell-foot">
                     <span class="text-blue">Rp. 200.000.000</span>
                 </div>

                 <div style="order:0" class="rTable-cell rTable-cell-head">
                     BID TERAKHIR
                 </div>
                 <div style="order:1" class="rTable-cell">
                     <span class="text-blue">Rp. 540.000.000</span>
                 </div>
                 <div style="order:2" class="rTable-cell">
                     <span class="text-blue">Rp. 540.000.000</span>
                 </div>
                 <div style="order:3" class="rTable-cell rTable-cell-foot">
                     <span class="text-blue">Rp. 540.000.000</span>
                 </div>

                 <div style="order:0" class="rTable-cell rTable-cell-head">STATUS</div>
                 <div style="order:1" class="rTable-cell">
                     <div class="prod-status st-pending">
                        <span class="ion-more"></span>
                        <span>Pending</span>
                    </div>
                 </div>
                 <div style="order:2" class="rTable-cell">
                     <div class="prod-status st-close">
                            <span class="ion-minus-circled"></span>
                            <span>Close</span>
                        </div>
                 </div>
                 <div style="order:3" class="rTable-cell rTable-cell-foot">
                        <div class="prod-status st-jual">
                            <span class="ion-checkmark-circled"></span>
                            <span>Terjual</span>
                        </div>
                 </div>
            </div> <!-- //rTable -->
        </div>

@@include('components/footer.html')