@@include('components/meta.html')
@@include('components/header.html')

    <div class="main" role="main">

        <div class="modal-buttons">
            <div class="container">
                <a href="#" class="btn-blue js-open-modal" data-modal-id="popup1">Pop up Konfirmasi</a>
                <a href="#" class="btn-grey js-open-modal" data-modal-id="popup2">Pop up Laporkan</a>
                <a href="#" class="btn-white js-open-modal" data-modal-id="popup3">Pop up Konfimasi Akun</a>
                <div class="space45"></div>
                <div class="sweetAlert-triger">
                    <button class="btn-blue sweetConfirm">Pop up Konfirmasi</button>&nbsp;&nbsp;
                    <button class="btn-blue sweetReport">Pop up Laporkan</button>&nbsp;&nbsp;
                </div>
            </div>
        </div>

        <div id="popup1" class="modal-box">
              <header class="modal-head"> 
                <a href="#" class="js-modal-close modal-close">
                    <span class="ion-ios-close"></span>
                </a>
                <figure>
                    <a href="home.html"><img src="assets/img/logo-modal.png" alt="" width="150"></a>
                </figure>
              </header>
              <div class="modal-body">
                <header class="header-post text-center">
                    <h2>Apakah yakin dengan bidding anda ?</h2>
                    <p>Pastikan anda telah membaca Term & Condition dari situs kami</p>
                </header>

                <div class="actions">
                    <button class="btn-blue">Yakin</button>&nbsp; &nbsp;
                    <button class="btn-white">Tidak</button>
                </div>
              </div>
        </div> <!-- //modal-box -->

        <div id="popup2" class="modal-box">
              <header class="modal-head"> 
                <a href="#" class="js-modal-close modal-close">
                    <span class="ion-ios-close"></span>
                </a>
                <figure>
                    <a href="home.html"><img src="assets/img/logo-modal.png" alt="" width="150"></a>
                </figure>
              </header>
              <div class="modal-body">
                <header class="header-post text-center">
                    <h2>Laporkan !!!</h2>
                    <p>https://ads.id/forums/index.php?forums/website-market.131/</p>
                </header>

                <div class="f-reporting">
                    <form class="" name="">
                         <div class="form-group">
                            <label>Subyek</label>
                            <input type="text" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputEmail1">Pesan</label>
                            <textarea class="form-control" rows="5"></textarea>
                          </div>
                          
                        <div class="actions">
                            <button class="btn-blue">Kirim</button>
                        </div>
                    </form>
                </div>
              </div>
        </div> <!-- //modal-box -->

        <div id="popup3" class="modal-box">
              <header class="modal-head"> 
                <a href="#" class="js-modal-close modal-close">
                    <span class="ion-ios-close"></span>
                </a>
                <figure>
                    <a href="home.html"><img src="assets/img/logo-modal.png" alt="" width="150"></a>
                </figure>
              </header>
              <div class="modal-body">
                <header class="header-post text-center">
                    <h2>Apakah anda telah memilliki akun ? </h2>
                    <p>Pastikan anda telah membaca Term & Condition dari situs kami</p>
                </header>

                <div class="actions">
                    <button class="btn-blue">Yakin</button>&nbsp; &nbsp;
                    <button class="btn-white">Tidak</button>
                </div>
              </div>
        </div> <!-- //modal-box -->
        
    </div> <!-- //main -->
    <div class="space60"></div>
@@include('components/footer.html')