@@include('components/meta-2.html')
@@include('components/header.html')
	
	<div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->

    <div class="main bg-grey" role="main">
    	<div class="container">
	    	 <header class="head-md-left space-line">
	            <h2>DASHBOARD</h2>
	            <span class="small">Lorem Ipsum is simply dummy text of the printing</span>
	        </header>

	        <div class="dashboard-wrap">
	        	<div class="row">
		        	<aside class="aside-left col-sm-3">
		        		<button class="btn-upload">Upload Produk</button>
		        		<div class="space20"></div>

		        		<div class="column-side">
		        			<div class="centered"> 
				        			<div class="side-user-profile">
				        				<figure>
				        					<img src="assets/img/person.jpg" alt="">
				        				</figure>
			        					<span class="user-name">Jassim Alkharafi</span>
			        					<div class="user-social">
			        						<a href="#" class="ion-social-facebook"></a>
			        						<a href="#" class="ion-social-twitter"></a>
			        						<a href="#" class="ion-social-google"></a>
			        						<a href="#" class="ion-social-linkedin"></a>
			        					</div>
			        					<button type="button" class="btn-dark-grey">Edit</button>
				        			</div>

				        			<div class="app-nav">
				        				<ul>
				        					<li class="active">
				        						<a href="#">Ringkasan Akun</a>
				        					</li>
				        					<li>
				        						<a href="#">Barang Dijual</a>
				        					</li>
				        					<li>
				        						<a href="#">Draft Barang</a>
				        					</li>
				        					<li>
				        						<a href="#">Barang Terjual</a>
				        					</li>
				        					<li>
				        						<a href="#">Barang Favorit</a>
				        					</li>
				        					<li>
				        						<a href="#">Dompet</a>
				        					</li>
				        					<li>
				        						<a href="#">Transaksi</a>
				        					</li>
				        					<li>
				        						<a href="#">Pengaturan</a>
				        					</li>
				        				</ul>
				        			</div> <!-- //app-nav -->
			        			</div>
		        		</div>
		        	</aside> <!-- //aside-left -->

		        	<div class="left-content col-sm-9">
		        		<h2 class="title-md-dashb">Ringkasan Akun</h2>
		        		
		        		<div class="dashboard-content flex">
		        			<div class="box-control">
		        				<header>
		        					<h4><span class="ti-shopping-cart"></span>Transaksi</h4>
		        				</header>

		        				<div class="tb-account">
		        					<p class="text-lightgrey"><em>Butuh Tindakan</em></p>

		        					<div class="table-responsive tb-myAcccount">
			        					<table class="table">
			        						<tr>
			        							<td>Pembelian</td>
			        							<td align="right">
			        								<a href="#" class="text-blue"><strong>0</strong></a>
			        							</td>
			        						</tr>	
			        						<tr>
			        							<td>Penjualan</td>
			        							<td align="right">
			        								<a href="#" class="text-blue"><strong>125</strong></a>
			        							</td>
			        						</tr>
			        						<tr>
			        							<td>Tagihan</td>
			        							<td align="right">
			        								<a href="#" class="text-blue"><strong>2</strong></a>
			        							</td>
			        						</tr>
			        					</table>
		        					</div>	
	        					</div>
		        			</div>

		        			<div class="box-control">
		        				<header>
		        					<h4><span class="ti-wallet"></span>Dompet</h4>
		        				</header>

		        				<div class="tb-account">
		        					<div class="row-action">
		        						<button class="btn-blue">Tambah Saldo</button>
		        						<button class="btn-white">Cairkan Dana	</button>
		        					</div>

		        					<div class="table-responsive tb-myAcccount">
			        					<table class="table">
			        						<tr>
			        							<td>Saldo</td>
			        							<td align="right">
			        								<a href="#" class="text-blue">Rp. 200.000.00</a>
			        							</td>
			        						</tr>	
			        						<tr>
			        							<td>Pending Topup</td>
			        							<td align="right">
			        								<a href="#" class="text-blue"><strong>Rp. 1.25000</strong></a>
			        							</td>
			        						</tr>
			        						<tr>
			        							<td>Pending Pencairan</td>
			        							<td align="right">
			        								<a href="#" class="text-blue"><strong>Rp. 200.000</strong></a>
			        							</td>
			        						</tr>
			        					</table>
		        					</div>	
		        				</div><!-- //tb-account -->
		        			</div>

		        			<div class="box-control">
		        				<header>
		        					<h4><span class="ti-settings"></span>Pengaturan</h4>
		        				</header>

		        				<div class="tb-account">
		        					<div class="table-responsive tb-myAcccount">
			        					<table class="table">
			        						<tr>
			        							<td>Notifikasi</td>
			        							<td align="right"><span class="ion-gear-b"></span> Atur</td>
			        						</tr>	
			        						<tr>
			        							<td>Penjualan</td>
			        							<td align="right"><span class="ion-gear-b"></span> Atur</td>
			        						</tr>
			        						<tr>
			        							<td>Tagihan</td>
			        							<td align="right"><span class="ion-gear-b"></span> Atur</td>
			        						</tr>
			        						<tr>
			        							<td>Akun</td>
			        							<td align="right"><span class="ion-gear-b"></span> Atur</td>
			        						</tr>
			        					</table>
		        					</div>
		        				</div><!-- //tb-account -->
			        		</div>

		        			<div class="box-control">
		        				<header>
		        					<h4><span class="ti-package"></span>Produk</h4>
		        				</header>

		        				<div class="tb-account">
		        					<div class="table-responsive tb-myAcccount">
			        					<table class="table">
			        						<tr>
			        							<td>Dijual</td>
			        							<td align="right"><a href="#" class="text-blue">200</a></td>
			        						</tr>	
			        						<tr>
			        							<td>Draft</td>
			        							<td align="right"><a href="#" class="text-blue">200</a></td>
			        						</tr>
			        						<tr>
			        							<td>Terjual</td>
			        							<td align="right"><a href="#" class="text-blue">200</a></td>
			        						</tr>
			        						<tr>
			        							<td>Favorit</td>
			        							<td align="right"><a href="#" class="text-blue">200</a></td>
			        						</tr>
			        					</table>
		        					</div>
		        				</div><!-- //tb-account -->
			        		</div>
		        		</div> <!-- //app-content -->
		        	</div>
		        </div>
	        </div>
        </div>
        <div class="space60"></div>	
    </div> <!-- //main -->
@@include('components/footer.html')