@@include('components/meta-2.html')
@@include('components/header.html')
	
	<div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->

    <div class="main bg-grey" role="main">
    	<div class="container">
	    	<header class="head-md-left space-line">
	            <h2>DASHBOARD</h2>
	            <span class="small">Lorem Ipsum is simply dummy text of the printing</span>
	        </header>

	        <div class="dashboard-wrap">
	        	<div class="row">
		        	<aside class="aside-left col-sm-3">
		        		<button class="btn-upload">Upload Produk</button>
		        		<div class="space20"></div>

		        		<div class="column-side">
		        			<div class="centered"> 
			        			<div class="side-user-profile">
			        				<figure>
			        					<img src="assets/img/person.jpg" alt="">
			        				</figure>
		        					<span class="user-name">Jassim Alkharafi</span>
		        					<div class="user-social">
		        						<a href="#" class="ion-social-facebook"></a>
		        						<a href="#" class="ion-social-twitter"></a>
		        						<a href="#" class="ion-social-google"></a>
		        						<a href="#" class="ion-social-linkedin"></a>
		        					</div>
		        					<button type="button" class="btn-dark-grey">Edit</button>
			        			</div>

			        			<div class="app-nav">
			        				<ul>
			        					<li>
			        						<a href="myacc-ringkasan.html">Ringkasan Akun</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Dijual</a>
			        					</li>
			        					<li>
			        						<a href="#">Draft Barang</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Terjual</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Favorit</a>
			        					</li>
			        					<li>
			        						<a href="myacc-dompet-mutasi.html">Dompet</a>
			        					</li>
			        					<li class="active">
			        						<a href="myacc-transaksi.html">Transaksi</a>
			        					</li>
			        					<li>
			        						<a href="myacc-pengaturan.html">Pengaturan</a>
			        					</li>
			        				</ul>
			        			</div> <!-- //app-nav -->
		        			</div>
		        		</div>
		        	</aside> <!-- //aside-left -->

		        	<div class="left-content col-sm-9">
		        		<h2 class="title-md-dashb">Transaksi</h2>
		        		
		        		<div class="dashboard-content">
		        			<section class="hero-checkout">
					            <figure>
					                <img src="assets/img/thumb-checkout.jpg" alt="" data-pin-nopin="true">
					            </figure>
					            <div class="desc">
					                <h2>surpriserequirements.com</h2>
					                <p class="prod-owner">
					                    <span>Website</span>
					                    <span>|</span>
					                    <span>Dijual oleh : Dadang Suradang </span>
					                    <span class="ion-checkmark-circled"></span>
					                </p>
					            </div>
					            <p class="billing-id">Detail Transaksi 160285069499</p>
					        </section>	
					        <div class="space30"></div>

					        <div class="tb-white-box">
					        	<div class="table-responsive tb-detailprice">
					        		<table class="table">
					        			<tr>
					        				<td style="width: 26%">Pembeli</td>
					        				<td>:</td>
					        				<td>	
					        					<strong class="text-darken">Doni dylan maradona</strong>
					        				</td>
					        			</tr>
					        			<tr>
					        				<td>Harga Barang</td>
					        				<td>:</td>
					        				<td>Rp 200.000.000</td>
					        			</tr>
					        			<tr>
					        				<td>Biaya Administrasi</td>
					        				<td>:</td>
					        				<td>Rp300.000</td>
					        			</tr>
					        			<tr>
					        				<td>Biaya Asuransi</td>
					        				<td>:</td>
					        				<td>Rp50.000</td>
					        			</tr>
					        		</table>
					        		<table class="table table-subtotal">
					        			<tr>
					        				<td style="width: 26%"><strong class="text-darkenblue">Total Belanja</strong></td>
					        				<td>:</td>
					        				<td><strong class="text-darkenblue">Rp. 200.350.000</strong></td>
					        			</tr>
					        		</table>
					        	</div>
					        </div>

					        <div class="box-sendto">
					        	<div class="row">
					        		<div class="col-md-6">
					        			<p>Dikirim ke</p>
					        			<table class="table tb-dtl-buyer">
					        				<tr>
					        					<td>Nama</td>
					        					<td style="width: 3%">:</td>
					        					<td>Scobain</td>
					        				</tr>

					        				<tr>
					        					<td>Telpon</td>
					        					<td>:</td>
					        					<td>087xxxxxxxx2</td>
					        				</tr>

					        				<tr>
					        					<td>Email</td>
					        					<td>:</td>
					        					<td>motah@uy.com</td>
					        				</tr>
					        			</table>
					        		</div>
					        		<div class="col-md-6">
					        			<div class="buyer-note">
					        				<p class="text-uppercase">CATATAN PEMBELI</p>
					        				<p>“ Keren gan websitenya, murah meriah mewah. Terima kasih gan dikasih bonus kipas angin maspiyonnya.</p>
					        			</div>
					        		</div>
					        	</div>
					        </div> <!-- //box-sendto -->

					        <div class="tb-white-box">
					        	<h2 class="title-sm">Status Transaksi</h2>
					        	<div class="step-transaction">
					        		<ul>
					        			<li>
					        				<span>Dibayar</span>
					        			</li>
					        			<li>
					        				<img src="assets/img/arrrow-process.png" alt="">
					        			</li>
					        			<li>
					        				<span>Dikirim</span>
					        			</li>
					        			<li>
					        				<img src="assets/img/arrrow-process.png" alt="">
					        			</li>
					        			<li>
					        				<span>Diterima</span>
					        			</li>
					        			<li>
					        				<img src="assets/img/arrrow-process.png" alt="">
					        			</li>
					        			<li>
					        				<span>Selesai</span>
					        			</li>
					        		</ul>
					        	</div>
					        	<p class="text-center">Pembeli telah menerima barang pada hari Kamis, 23 Juni 2016 pukul 21.13 WIB <br>Barang telah dikirim pada 21 Juni 2016 22.01 WIB. </p>
					        </div>

					        <div class="space20"></div>
					        <div class="space15"></div>
					        <div class="back-btn-wrap">
					        	<a href="#" class="btn-blue">Kembali</a>
					        </div>

		        		</div> <!-- //app-content -->
		        	</div> <!-- left-content -->
	        	</div>
	        </div> <!-- //dashboard-wrap -->
        </div>
        <div class="space60"></div>	
    </div> <!-- //main -->
@@include('components/footer.html')