@@include('components/meta-2.html')
@@include('components/header.html')
	
	<div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->

    <div class="main bg-grey" role="main">
    	<div class="container">
	    	<header class="head-md-left space-line">
	            <h2>DASHBOARD</h2>
	            <span class="small">Lorem Ipsum is simply dummy text of the printing</span>
	        </header>

	        <div class="dashboard-wrap">
	        	<div class="row">
		        	<aside class="aside-left col-sm-3">
		        		<button class="btn-upload">Upload Produk</button>
		        		<div class="space20"></div>

		        		<div class="column-side">
		        			<div class="centered"> 
			        			<div class="side-user-profile">
			        				<figure>
			        					<img src="assets/img/person.jpg" alt="">
			        				</figure>
		        					<span class="user-name">Jassim Alkharafi</span>
		        					<div class="user-social">
		        						<a href="#" class="ion-social-facebook"></a>
		        						<a href="#" class="ion-social-twitter"></a>
		        						<a href="#" class="ion-social-google"></a>
		        						<a href="#" class="ion-social-linkedin"></a>
		        					</div>
		        					<button type="button" class="btn-dark-grey">Edit</button>
			        			</div>

			        			<div class="app-nav">
			        				<ul>
			        					<li>
			        						<a href="myacc-ringkasan.html">Ringkasan Akun</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Dijual</a>
			        					</li>
			        					<li>
			        						<a href="#">Draft Barang</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Terjual</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Favorit</a>
			        					</li>
			        					<li>
			        						<a href="myacc-dompet-mutasi.html">Dompet</a>
			        					</li>
			        					<li>
			        						<a href="myacc-transaksi.html">Transaksi</a>
			        					</li>
			        					<li class="active">
			        						<a href="myacc-pengaturan.html">Pengaturan</a>
			        					</li>
			        				</ul>
			        			</div> <!-- //app-nav -->
		        			</div>
		        		</div>
		        	</aside> <!-- //aside-left -->

		        	<div class="left-content col-sm-9">
		        		<h2 class="title-md-dashb">Informasi Produk</h2>
		        		
		        		<div class="dashboard-content">

							<div class="tb-white-box">
								<header class="head-sm-left">
									<h2><span class="ti-package"></span>Informasi Umum</h2>
									<span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
									<a href="#" class="btn-white btn-add-acc">Edit</a>
								</header>

								<div class="table-responsive tb-info">
									<table class="table">
										<tr>
											<td width="20%">Nama Lengkap</td>
											<td>
												<input type="text" class="form-control">
											</td>
										</tr>

										<tr>
											<td>Kategori</td>
											<td>
												<div class="row">
													<div class="col-md-8">
														<div class="form-group">
															<select class="form-control selectStyle">
							                                    <option>100</option>
							                                    <option>200</option>
							                                    <option>3 Ratus</option>
							                                    <option>4 Rakus</option>
							                                    <option>5 Rusuk</option>
						                                	</select>
														</div>
													</div>
												</div>

											</td>
										</tr>

										<tr>
											<td>Cover Produk</td>
											<td>	
												<div>
													<!-- <label for="fileselect">Files to upload:</label>
													<input type="file" id="fileselect" name="fileselect[]" multiple="multiple" /> -->
													<div id="filedrag" class="file-drag">
														<span>Pilih Gambar atau tarik gambar dari komputer anda</span>
													</div>
												</div>
												<div id="filedragMsg"></div>

											</td>
										</tr>

										<tr>
											<td>Deskripsi produk</td>
											<td>
												<textarea id="tinytextarea">
													
												</textarea>
											</td>
										</tr>
									</table>
								</div>
							</div> <!-- //tb-white-box -->
							<div class="space30"></div>

							<div class="tb-white-box">	
								<header class="head-sm-left">
									<h2><span class="ti-id-badge"></span>Lelang</h2>
									<span class="small">Lorem Ipsum doler amit amit</span>

									<a href="#" class="btn-white btn-add-acc">Edit</a>
								</header>

								<div class="table-responsive tb-info">
									<table class="table">
										<tr>
											<td>Harga awal</td>
											<td>
												<div class="input-group">
													<span class="input-group-addon" id="sizing-addon3">Rp.</span>
													<input type="text" class="form-control">
												</div>	
											</td>
										</tr>

										<tr>
											<td>Kelipatan Lelang</td>
											<td>
												<div class="row">
													<div class="col-md-8">
														<select class="form-control selectStyle">
						                                    <option>100</option>
						                                    <option>200</option>
						                                    <option>3 Ratus</option>
						                                    <option>4 Rakus</option>
						                                    <option>5 Rusuk</option>
				                                		</select>
			                                		</div>
		                                		</div>
											</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="space30"></div>

							<div class="tb-white-box">	
								<header class="head-sm-left">
									<h2><span class="ti-crown"></span>Bin</h2>
									<span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing</span>

									<a href="#" class="btn-white btn-add-acc">Edit</a>
								</header>

								<div class="table-responsive tb-info">
									<table class="table">
										<tr>
											<td>Harga Jual</td>
											<td>
												<div class="input-group">
													<span class="input-group-addon" id="sizing-addon3">Rp.</span>
													<input type="text" class="form-control">
												</div>	
											</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="space30"></div>

							<div class="tb-white-box">	
								<header class="head-sm-left">
									<h2><span class="ti-map-alt"></span>Jangka Waktu</h2>
									<span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing</span>

									<a href="#" class="btn-white btn-add-acc">Edit</a>
								</header>

								<div class="table-responsive tb-info">
									<table class="table">
										<tr>
											<td>Durasi</td>
											<td>
												<div class="row">
													<div class="col-md-8">
														<div class="input-group-icon">
															<input type="text" class="form-control">
															<span class="ion-android-calendar iconx"></span>
														</div>
														<small>Tanggal dan jam Terakhir</small>
													</div>
												</div>
											</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="space30"></div>

							<div class="tb-white-box">
								<div class="table-responsive tb-info">
									<table class="table">
										<tr>
											<td><span class="ti-link"></span>
												<span class="text-blue"><strong>Harga Jual</strong></span>
											</td>
											<td>
												<span>https://ads.id/trade/produk/jual-domain-murah-meriiah-marah</span>
											</td>
											<td>
												<button type="button" class="btn-grey">Copy</button>
											</td>
										</tr>
									</table>
								</div>
							</div> <!-- //tb-white-box -->
								
		        		</div> <!-- //app-content -->
		        	</div> <!-- left-content -->

	        	</div>
	        </div>
        </div>
        <div class="space60"></div>	
    </div> <!-- //main -->
@@include('components/footer.html')