@@include('components/meta-2.html')
@@include('components/header.html')
	
	<div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->

    <div class="main bg-grey" role="main">
    	<div class="container">
	    	<header class="head-md-left space-line">
	            <h2>DASHBOARD</h2>
	            <span class="small">Lorem Ipsum is simply dummy text of the printing</span>
	        </header>

	        <div class="dashboard-wrap">
	        	<div class="row">
		        	<aside class="aside-left col-sm-3">
		        		<button class="btn-upload">Upload Produk</button>
		        		<div class="space20"></div>

		        		<div class="column-side">
		        			<div class="centered"> 
			        			<div class="side-user-profile">
			        				<figure>
			        					<img src="assets/img/person.jpg" alt="">
			        				</figure>
		        					<span class="user-name">Jassim Alkharafi</span>
		        					<div class="user-social">
		        						<a href="#" class="ion-social-facebook"></a>
		        						<a href="#" class="ion-social-twitter"></a>
		        						<a href="#" class="ion-social-google"></a>
		        						<a href="#" class="ion-social-linkedin"></a>
		        					</div>
		        					<button type="button" class="btn-dark-grey">Edit</button>
			        			</div>

			        			<div class="app-nav">
			        				<ul>
			        					<li>
			        						<a href="#">Ringkasan Akun</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Dijual</a>
			        					</li>
			        					<li>
			        						<a href="#">Draft Barang</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Terjual</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Favorit</a>
			        					</li>
			        					<li>
			        						<a href="#">Dompet</a>
			        					</li>
			        					<li>
			        						<a href="#">Transaksi</a>
			        					</li>
			        					<li>
			        						<a href="#">Pengaturan</a>
			        					</li>
			        				</ul>
			        			</div> <!-- //app-nav -->
		        			</div>
		        		</div>
		        	</aside> <!-- //aside-left -->

		        	<div class="left-content col-sm-9">
		        		<h2 class="title-md-dashb">List Produk</h2>

		        		<div class="row-tb-filter">
							<div class="form-group tb-filter-src">
								<input type="text" name="" class="form-control">
								<span class="ion-ios-search"></span>
							</div>
							<div class="form-group">
								<select class="form-control selectStyle">
                                    <option>100</option>
                                    <option>200</option>
                                    <option>3 Ratus</option>
                                    <option>4 Rakus</option>
                                    <option>5 Rusuk</option>
                            	</select>
							</div>
						</div>
		        		
		        		<div class="dashboard-content">
							<div class="tb-myAcccount rTable rTable--5cols rTable--stripe rTable--collapse">
								 <div style="order:0" class="rTable-cell rTable-cell-head">
								 	Produk
								 </div>
								 <div style="order:1" class="rTable-cell">
								 	<figure class="tb-sm-thumb">
										<a href="#">
											<img src="assets/img/tb-thumb.png" alt="">
										</a>
									</figure>
									<div class="tb-sm-thumb-desc">
										<p>surpriserequirements.com</p>
									</div>
								 </div>
								 <div style="order:2" class="rTable-cell">
								 	<figure class="tb-sm-thumb">
										<a href="#">
											<img src="assets/img/tb-thumb.png" alt="">
										</a>
									</figure>
									<div class="tb-sm-thumb-desc">
										<p>Lelang 20 Artikel disini senangdisana senang RUMAH…</p>
									</div>
								 </div>

								 <div style="order:0" class="rTable-cell rTable-cell-head">
								 	BIN
								 </div>
								 <div style="order:1" class="rTable-cell rTable-cell-foot">
								 	<span class="text-uppercase text-darkenblue">
										<strong>BH161118H8G</strong>
									</span><br>
									Rp 200.000.000
								 </div>
								 <div style="order:2" class="rTable-cell rTable-cell-foot">
								 	<span class="text-uppercase text-darkenblue">
										<strong>BH161118H8G</strong>
									</span><br>
									Rp 200.000.000
								 </div>

								 <div style="order:0" class="rTable-cell rTable-cell-head">
								 	Lelang
								 </div>
								 <div style="order:1" class="rTable-cell rTable-cell-foot">
								 	Rp200.000.000
								 </div>
								 <div style="order:2" class="rTable-cell rTable-cell-foot">
								 	Rp200.000.000
								 </div>

								 <div style="order:0" class="rTable-cell rTable-cell-head">
								 	Status
								 </div>
								 <div style="order:1" class="rTable-cell rTable-cell-foot">
								 	Barang Diterima
								 </div>
								 <div style="order:2" class="rTable-cell rTable-cell-foot">
								 	Barang Diterima
								 </div>

								 <div style="order:0" class="rTable-cell rTable-cell-head">
								 	jangka Waktu
								 </div>
								 <div style="order:1" class="rTable-cell rTable-cell-foot">
								 	31 Hari <br>
								 	1 jam 5 menit 1 detik
								 </div>
								 <div style="order:2" class="rTable-cell rTable-cell-foot">
								 	31 Hari <br>
								 	1 jam 5 menit 1 detik
								 </div>
    						</div> <!-- //rTable -->
		        		</div> <!-- //app-content -->
		        	</div> <!-- left-content -->

	        	</div>
	        </div>
        </div>
        <div class="space60"></div>	
    </div> <!-- //main -->
@@include('components/footer.html')