@@include('components/meta-2.html')
@@include('components/header.html')
	
	<div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->

    <div class="main bg-grey" role="main">
    	<div class="container">
	    	<header class="head-md-left space-line">
	            <h2>DASHBOARD</h2>
	            <span class="small">Lorem Ipsum is simply dummy text of the printing</span>
	        </header>

	        <div class="dashboard-wrap">
	        	<div class="row">
		        	<aside class="aside-left col-sm-3">
		        		<button class="btn-upload">Upload Produk</button>
		        		<div class="space20"></div>

		        		<div class="column-side">
		        			<div class="centered"> 
			        			<div class="side-user-profile">
			        				<figure>
			        					<img src="assets/img/person.jpg" alt="">
			        				</figure>
		        					<span class="user-name">Jassim Alkharafi</span>
		        					<div class="user-social">
		        						<a href="#" class="ion-social-facebook"></a>
		        						<a href="#" class="ion-social-twitter"></a>
		        						<a href="#" class="ion-social-google"></a>
		        						<a href="#" class="ion-social-linkedin"></a>
		        					</div>
		        					<button type="button" class="btn-dark-grey">Edit</button>
			        			</div>

			        			<div class="app-nav">
			        				<ul>
			        					<li>
			        						<a href="#">Ringkasan Akun</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Dijual</a>
			        					</li>
			        					<li>
			        						<a href="#">Draft Barang</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Terjual</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Favorit</a>
			        					</li>
			        					<li>
			        						<a href="#">Dompet</a>
			        					</li>
			        					<li>
			        						<a href="#">Transaksi</a>
			        					</li>
			        					<li>
			        						<a href="#">Pengaturan</a>
			        					</li>
			        				</ul>
			        			</div> <!-- //app-nav -->
		        			</div>
		        		</div>
		        	</aside> <!-- //aside-left -->

		        	<div class="left-content col-sm-9">
		        		<h2 class="title-md-dashb">Transaksi</h2>
		        		
		        		<div class="dashboard-content">
		    				
		    				<div class="tabs_wrapper">
								<ul class="tabs-nav">
									<li class="active" rel="tab1">
										<span>Mutasi</span>
									</li>
									<li rel="tab2">
										<span>Pending</span>
									</li>
									<li rel="tab3">
										<span>Cairkan Dana</span>
									</li>
									<li rel="tab4">
										<span>Tambah saldo</span>
									</li>
								</ul>

								<div class="tb-curr-balance">
									<p>Saldo per 18 Oktober 2016: Rp200.000.000</p>
								</div>

								<div class="tb-row-action">
									<div class="on-left">
	        							<button class="btn-transparent">Cairkan Mutasi</button>
	        							<button class="btn-transparent">Unduh Mutasi</button>
	        							<button class="btn-blue">Tambahkan Saldo</button>
	        						</div>
	        						<div class="on-right">
	        							<div class="form-group">
	        								<span class="label">Per halaman</span>
		        							<select class="form-control selectStyle">
			                                    <option>100</option>
			                                    <option>200</option>
			                                    <option>3 Ratus</option>
			                                    <option>4 Rakus</option>
			                                    <option>5 Rusuk</option>
		                                	</select>
	                                	</div>

	                                	<div class="form-group">
	                                		<span class="label">Urutkan</span>
		                                	<select class="form-control selectStyle">
			                                    <option>100</option>
			                                    <option>200</option>
			                                    <option>3 Ratus</option>
			                                    <option>4 Rakus</option>
			                                    <option>5 Rusuk</option>
		                                	</select>	
	                                	</div>
	        						</div>
	        					</div>

								<div class="tabs_content_container">
									<div class="tab_content tab1">
										<div class="tb-myAcccount rTable rTable--4cols rTable--stripe rTable--collapse">
											 <div style="order:0;" class="rTable-cell rTable-cell-head">
											 	WAKTU
											 </div>
											 <div style="order:1" class="rTable-cell">
												24 Juni 2016 08.20 WIB
											 </div>
											  <div style="order:2" class="rTable-cell">
												24 Juni 2016 08.20 WIB
											 </div>

											 <div style="order:0" class="rTable-cell rTable-cell-head">
											 	MUTASI
											 </div>
											 <div style="order:1" class="rTable-cell rTable-cell-foot">
											 	<span class="text-uppercase text-darkenblue">
													<strong>- Rp 8.525.834</strong>
												</span>
											 </div>
											 <div style="order:2" class="rTable-cell rTable-cell-foot">
											 	<span class="text-uppercase text-darkenblue">
													<strong>- Rp 8.525.834</strong>
												</span>
											 </div>

											 <div style="order:0" class="rTable-cell rTable-cell-head">
											 	Saldo
											 </div>
											 <div style="order:1" class="rTable-cell rTable-cell-foot">
											 	Rp 0
											 </div>
											  <div style="order:2" class="rTable-cell rTable-cell-foot">
											 	Rp 0
											 </div>

											 <div style="order:0" class="rTable-cell rTable-cell-head">
											 	KETERANGAN
											 </div>
											 <div style="order:1" class="rTable-cell rTable-cell-foot">
											 	Pencairan dana no. tiket C8171050 berhasil
											 </div>
											  <div style="order:2" class="rTable-cell rTable-cell-foot">
											 	Pencairan dana no. tiket C8171050 berhasil
											 </div>
		        						</div> <!-- //rTable -->
									</div>

									<div class="tab_content tab2">

										<div class="tb-myAcccount rTable rTable--stripe rTable--collapse">
											 <div style="order:0" class="rTable-cell rTable-cell-head">
											 	TAMBAH SALDO
											 </div>
											 <div style="order:1" class="rTable-cell">
												Anda tidak memiliki penambahan saldo Dompet dengan status pending
											 </div>
		        						</div> <!-- //rTable -->


										<div class="tb-myAcccount rTable rTable--stripe rTable--collapse">
											 <div style="order:0" class="rTable-cell rTable-cell-head">
											 	PENCAIRAN
											 </div>
											 <div style="order:1" class="rTable-cell">
												Anda tidak memiliki penambahan saldo Dompet dengan status pending
											 </div>
		        						</div> <!-- //rTable -->
									</div>

									<div class="tab_content tab3">
										<div class="tb-white-box">
											<header class="head-sm-left">
												<h2><span class="ti-credit-card"></span>Cairkan Dana</h2>
												<span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												<a href="#" class="btn-white btn-add-acc">Edit</a>
											</header>

											<div class="rTable rTable--collapse rTable-form">
												 <div style="order:0;width: 25%" class="rTable-cell">
												 	Withdraw
												 </div>
												 <div style="order:0; width: 75%" class="rTable-cell">
													<div class="input-group">
														<span class="input-group-addon" id="sizing-addon3">Rp.</span>
														<input type="text" class="form-control" placeholder="Username">
													</div>	
												 </div>

												 <div style="order:1; width: 25%" class="rTable-cell">
												 	Rekening bank
												 </div>
												 <div style="order:1; width: 75%" class="rTable-cell">
													<div class="select-wrap">
														<select class="form-control selectStyle">
						                                    <option>100</option>
						                                    <option>200</option>
						                                    <option>3 Ratus</option>
						                                    <option>4 Rakus</option>
						                                    <option>5 Rusuk</option>
						                                </select>
					                                </div>
												 </div>
		        							</div> <!-- //rTable -->
										</div>
									</div>

									<div class="tab_content tab4">
										<div class="tb-white-box">
											<header class="head-sm-left">
												<h2><span class="ti-wallet"></span>Tambah Saldo</h2>
												<span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												<a href="#" class="btn-white btn-add-acc">Edit</a>
											</header>

											<div class="rTable rTable--collapse rTable-form">
												 <div style="order:0;width: 25%" class="rTable-cell">
												 	Nominal
												 </div>
												 <div style="order:0; width: 75%" class="rTable-cell">
													<div class="input-group">
														<span class="input-group-addon">Rp.</span>
														<input type="text" class="form-control">
													</div><br>
													<button type="button" class="btn-blue">Mulai Jualan</button>
												 </div>
		        							</div> <!-- //rTable -->

										</div>
									</div>
								</div>
							</div> <!-- //Tabs-wrapper -->
		        		</div> <!-- //app-content -->
		        	</div> <!-- left-content -->

	        	</div>
	        </div>
        </div>
        <div class="space60"></div>	
    </div> <!-- //main -->
@@include('components/footer.html')