@@include('components/meta-2.html')
@@include('components/header.html')
	
	<div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->

    <div class="main bg-grey" role="main">
    	<div class="container">
	    	<header class="head-md-left space-line">
	            <h2>DASHBOARD</h2>
	            <span class="small">Lorem Ipsum is simply dummy text of the printing</span>
	        </header>

	        <div class="dashboard-wrap">
	        	<div class="row">
		        	<aside class="aside-left col-sm-3">
		        		<button class="btn-upload">Upload Produk</button>
		        		<div class="space20"></div>

		        		<div class="column-side">
		        			<div class="centered"> 
			        			<div class="side-user-profile">
			        				<figure>
			        					<img src="assets/img/person.jpg" alt="">
			        				</figure>
		        					<span class="user-name">Jassim Alkharafi</span>
		        					<div class="user-social">
		        						<a href="#" class="ion-social-facebook"></a>
		        						<a href="#" class="ion-social-twitter"></a>
		        						<a href="#" class="ion-social-google"></a>
		        						<a href="#" class="ion-social-linkedin"></a>
		        					</div>
		        					<button type="button" class="btn-dark-grey">Edit</button>
			        			</div>

			        			<div class="app-nav">
			        				<ul>
			        					<li>
			        						<a href="#">Ringkasan Akun</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Dijual</a>
			        					</li>
			        					<li>
			        						<a href="#">Draft Barang</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Terjual</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Favorit</a>
			        					</li>
			        					<li>
			        						<a href="#">Dompet</a>
			        					</li>
			        					<li>
			        						<a href="#">Transaksi</a>
			        					</li>
			        					<li>
			        						<a href="#">Pengaturan</a>
			        					</li>
			        				</ul>
			        			</div> <!-- //app-nav -->
		        			</div>
		        		</div>
		        	</aside> <!-- //aside-left -->

		        	<div class="left-content col-sm-9">
		        		<h2 class="title-md-dashb">Transaksi</h2>
		        		
		        		<div class="dashboard-content">
		    				
		    				<div class="tabs_wrapper">
								<ul class="tabs-nav">
									<li class="active" rel="tab1">
										<span>Penjualan</span>
									</li>
									<li rel="tab2">
										<span>Tagihan</span>
									</li>
									<li rel="tab3">
										<span>Pembelian</span>
									</li>
								</ul>

								<div class="row-tb-filter">
									<div class="form-group tb-filter-src">
										<input type="text" name="" class="form-control">
										<span class="ion-ios-search"></span>
									</div>
									<div class="form-group">
										<select class="form-control selectStyle">
		                                    <option>100</option>
		                                    <option>200</option>
		                                    <option>3 Ratus</option>
		                                    <option>4 Rakus</option>
		                                    <option>5 Rusuk</option>
	                                	</select>
									</div>
								</div>

								<div class="tabs_content_container">
									<div class="tab_content tab1">
										<div class="table-responsive tb-myAcccount">
											<table class="table">
												<tr>
													<th style="width: 26%">Penjualan</th>
													<th>Detail Transaksi</th>
													<th>Status</th>
													<th style="width:24%">Tindakan</th>
													<th width="25%">Keterangan</th>
												</tr>
												<tr>
													<td>
														<figure class="tb-sm-thumb">
															<a href="#">
																<img src="assets/img/tb-thumb.png" alt="">
															</a>
														</figure>
														<div class="tb-sm-thumb-desc">
															<p>surpriserequirements.com</p>
														</div>
													</td>
													<td>
														<span class="text-uppercase text-darkenblue">
															<strong>BH161118H8GDINV</strong>
														</span><br>
														Rp 200.000.000
													</td>
													<td>Barang Diterima</td>
													<td><a href="#" class="btn-grey full">Feedback Pembelli</a></td>
													<td>Pemberi Harapan Palsu</td>
												</tr>
											</table>
										</div>
									</div>
									<div class="tab_content tab2">
										<div class="table-responsive tb-myAcccount">
											<table class="table">
												<tr>
													<th>Detail Tagihan </th>
													<th>Detail Transaksi</th>
													<th>Status Tagihan</th>
													<th>Tindakan</th>
													<th width="25%">Keterangan</th>
												</tr>
												<tr>
													<td>
														<span class="text-uppercase text-darkenblue">
															<strong>BH161118H8GDINV</strong>
														</span><br>
														10 Sep 2016 17:56 WIB
													</td>
													<td>
														<span class="text-uppercase text-darkenblue">
															<strong>Rp 200.000.000</strong>
														</span>
													</td>
													<td>Barang Diterima</td>
													<td><a href="#" class="btn-grey full">Bayar</a></td>
													<td>Bagus gandul cinerepalmerah kebon jeruk</td>
												</tr>

												<tr>
													<td>
														<span class="text-uppercase text-darkenblue">
															<strong>BH161118H8GDINV</strong>
														</span><br>
														10 Sep 2016 17:56 WIB
													</td>
													<td>
														<span class="text-uppercase text-darkenblue">
															<strong>Rp 200.000.000</strong>
														</span>
													</td>
													<td>Barang Diterima</td>
													<td><a href="#" class="btn-grey full">Bayar</a></td>
													<td>Bagus gandul cinerepalmerah kebon jeruk</td>
												</tr>
											</table>
										</div>
									</div>
									<div class="tab_content tab3">
										<div class="table-responsive tb-myAcccount">
											<table class="table">
												<tr>
													<th style="width: 26%">Penjualan</th>
													<th>Detail Transaksi</th>
													<th>Status</th>
													<th style="width:24%">Tindakan</th>
													<th width="25%">Keterangan</th>
												</tr>
												<tr>
													<td>
														<figure class="tb-sm-thumb">
															<a href="#">
																<img src="assets/img/tb-thumb.png" alt="">
															</a>
														</figure>
														<div class="tb-sm-thumb-desc">
															<p>surpriserequirements.com</p>
														</div>
													</td>
													<td>
														<span class="text-uppercase text-darkenblue">
															<strong>BH161118H8GDINV</strong>
														</span><br>
														Rp 200.000.000
													</td>
													<td>Barang Diterima</td>
													<td><a href="#" class="btn-grey full">Feedback Pembelli</a></td>
													<td>Pemberi Harapan Palsu</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</div> <!-- //Tabs-wrapper -->
		        		</div> <!-- //app-content -->
		        	</div> <!-- left-content -->

	        	</div>
	        </div>
        </div>
        <div class="space60"></div>	
    </div> <!-- //main -->
@@include('components/footer.html')