@@include('components/meta-2.html')
@@include('components/header.html')
	
	<div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->

    <div class="main bg-grey" role="main">
    	<div class="container">
	    	<header class="head-md-left space-line">
	            <h2>DASHBOARD</h2>
	            <span class="small">Lorem Ipsum is simply dummy text of the printing</span>
	        </header>

	        <div class="dashboard-wrap">
	        	<div class="row">
		        	<aside class="aside-left col-sm-3">
		        		<button class="btn-upload">Upload Produk</button>
		        		<div class="space20"></div>

		        		<div class="column-side">
		        			<div class="centered"> 
			        			<div class="side-user-profile">
			        				<figure>
			        					<img src="assets/img/person.jpg" alt="">
			        				</figure>
		        					<span class="user-name">Jassim Alkharafi</span>
		        					<div class="user-social">
		        						<a href="#" class="ion-social-facebook"></a>
		        						<a href="#" class="ion-social-twitter"></a>
		        						<a href="#" class="ion-social-google"></a>
		        						<a href="#" class="ion-social-linkedin"></a>
		        					</div>
		        					<button type="button" class="btn-dark-grey">Edit</button>
			        			</div>

			        			<div class="app-nav">
			        				<ul>
			        					<li>
			        						<a href="myacc-ringkasan.html">Ringkasan Akun</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Dijual</a>
			        					</li>
			        					<li>
			        						<a href="#">Draft Barang</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Terjual</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Favorit</a>
			        					</li>
			        					<li>
			        						<a href="myacc-dompet-mutasi.html">Dompet</a>
			        					</li>
			        					<li>
			        						<a href="myacc-transaksi.html">Transaksi</a>
			        					</li>
			        					<li class="active">
			        						<a href="myacc-pengaturan.html">Pengaturan</a>
			        					</li>
			        				</ul>
			        			</div> <!-- //app-nav -->
		        			</div>
		        		</div>
		        	</aside> <!-- //aside-left -->

		        	<div class="left-content col-sm-9">
		        		<h2 class="title-md-dashb">Pengaturan</h2>
		        		
		        		<div class="dashboard-content">
		    				<div class="tabs_wrapper">
								<ul class="tabs-nav">
									<li class="active" rel="tab1">
										<span>Akun</span>
									</li>
									<li rel="tab2">
										<span>Alamat</span>
									</li>
									<li rel="tab3">
										<span>Rekening</span>
									</li>
								</ul>

								<div class="tabs_content_container">
									<div class="tab_content tab1">

										<div class="tb-white-box">
											<header class="head-sm-left">
												<h2><span class="ti-agenda"></span>Informasi Umum</h2>
												<span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing</span>

												<a href="#" class="btn-white btn-add-acc">Edit</a>
											</header>

											<div class="rTable rTable--collapse rTable-form">
												 <div style="order:0;width: 22%" class="rTable-cell">Nama Lengkap</div>
												 <div style="order:0; width: 78%" class="rTable-cell">
												 	<span class="text-darken">Doni Fatinasarani</span>
												 </div>

												 <div style="order:1;width: 22%" class="rTable-cell">
												 	Tanggal lahir
												 </div>
												 <div style="order:1; width: 78%" class="rTable-cell">
												 	<span class="text-darken">12 februari 2019</span>
												 </div>

												 <div style="order:2;width: 22%" class="rTable-cell">Foto profil</div>
												 <div style="order:2; width: 78%" class="rTable-cell">
												 	<figure class="tb-avatar">
														<img src="https://dummyimage.com/68x90/2FA2E8/fff" alt="">
													</figure>
												 </div>

												 <div style="order:3;width: 22%" class="rTable-cell"></div>
												 <div style="order:3; width: 78%" class="rTable-cell"></div>
			    							</div> <!-- //rTable -->

											<header class="head-sm-left">
												<h2><span class="ti-id-badge"></span>Emaill & Telepon</h2>
												<span class="small">Jual beli content. Artikel/images/jasa penulisan.</span>

												<a href="#" class="btn-white btn-add-acc">Edit</a>
											</header>

											<div class="table-responsive tb-info">
												<table class="table">
													<tr>
														<td>Nama Lengkap</td>
														<td>
															<span class="text-darken">
																<strong>baraberebarabere@gmail.com</strong>
															</span><br>
															Untuk Mengubah Email, Anda Harus Memverifikasi Nomor Telepon Anda Terlebih Dahulu
														</td>
													</tr>

													<tr>
														<td>Telepon</td>
														<td>
															<span class="text-darken">
																<strong>082xxxxxxx8</strong>
															</span><br>
															Belum mempunyai kode konfirmasi atau ingin mengirim ulang kode konfirmasi? <a href="text-blue">Klik disini
														</td>
													</tr>
												</table>
											</div>
											<div class="rTable rTable--collapse rTable-form">
												 <div style="order:1;width: 22%" class="rTable-cell">Telepon</div>
												 <div style="order:1; width: 78%" class="rTable-cell">
												 	<span class="text-darken">
														<strong>082xxxxxxx8</strong>
													</span><br>
													  Belum mempunyai kode konfirmasi atau ingin mengirim ulang kode konfirmasi? <a href="text-blue">Klik disini</a>
												 </div>
			    							</div> <!-- //rTable -->
			    							<div class="space30"></div>


											<header class="head-sm-left">
												<h2><span class="ti-lock"></span>Password</h2>
												<span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing</span>

												<a href="#" class="btn-white btn-add-acc">Edit</a>
											</header>
											<div class="rTable rTable--collapse rTable-form">
												 <div style="order:0;width: 22%" class="rTable-cell">Password</div>
												 <div style="order:0; width: 78%" class="rTable-cell">
												 	<span class="text-darken">
														<em>Perubahan terakhir 13 Oktober 2016</em>
													</span>
												 </div>
			    							</div> <!-- //rTable -->
											<div class="space30"></div>

											<header class="head-sm-left">
												<h2><span class="ti-map-alt"></span>Alamat</h2>
												<span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing</span>

												<a href="#" class="btn-white btn-add-acc">Edit</a>
											</header>

											<div class="rTable rTable--collapse rTable-form">
												 <div style="order:0;width: 22%" class="rTable-cell">
												 	Alamat
												 </div>
												 <div style="order:0; width: 78%" class="rTable-cell">
												 	<p>Jl. Piit No.1, Sadang Serang, Coblong, Kota Bandung, Jawa Barat, Indonesia 
															<br>Kec. Coblong, Kota/Kab. Bandung 
															<br>Jawa Barat, 40133 </p>
												 </div>
			    							</div> <!-- //rTable -->
											<div class="space30"></div>

											<header class="head-sm-left">
												<h2><span class="ti-shield"></span>Otentikasi 2 langkah</h2>
												<span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing</span>

												<a href="#" class="btn-white btn-add-acc">Edit</a>
											</header>
											<div class="rTable rTable--collapse rTable-form">
												 <div style="order:0;width: 22%" class="rTable-cell">
												 	Status
												 </div>
												 <div style="order:0; width: 78%" class="rTable-cell">
												 	<div class="onoffswitch">
															    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
															    <label class="onoffswitch-label" for="myonoffswitch">
															        <span class="onoffswitch-inner"></span>
															        <span class="onoffswitch-switch"></span>
															    </label>
															</div>
												 </div>
			    							</div> <!-- //rTable -->
										</div> <!-- //tb-white-box -->
									</div>

									<div class="tab_content tab2">
										<p><strong class="text-darken">Daftar Rekening bank</strong></p>
										<div class="space15"></div>

										Anda belum memiliki daftar rekening bank, untuk memasukkan rekenind bank <a href="#" class="link-blue">klik disini</a>
									</div>
									
									<div class="tab_content tab3">
										<p><strong class="text-darken">Daftar Rekening bank</strong></p>
										<div class="space15"></div>

										<div class="tb-myAcccount rTable rTable--3cols rTable--stripe rTable--collapse">
	                                        <div style="order:0" class="rTable-cell rTable-cell-head is-striped">
	                                            NAMA REKENING
	                                        </div>
	                                        <div style="order:1" class="rTable-cell">
	                                            Bank Central Asia (BCA)
	                                        </div>

	                                        <div style="order:0" class="rTable-cell rTable-cell-head is-striped">
	                                            ATAS NAMA
	                                        </div>
	                                        <div style="order:1" class="rTable-cell is-striped">
	                                            Maman Suraman
	                                        </div>

	                                        <div style="order:0" class="rTable-cell rTable-cell-head is-striped">
	                                            NOMOR REKENING
	                                        </div>
	                                        <div style="order:1" class="rTable-cell is-striped">
	                                            <strong>324527163894</strong>
	                                        </div>
	                                    </div>

										<article>
											<p><strong class="text-uppercase">PENTING</strong></p>
											<p>Cermatlah dalam mengisi data rekening bank. ads.id tidak bertanggung jawab apabila terjadi hal yang tidak diinginkan akibat kesalahan dalam pengisian data rekening bank yang meliputi nomor rekening, nama pemilik rekening dan nama bank.</p>
										</article>
									</div>
								</div>
							</div> <!-- //Tabs-wrapper -->
		        		</div> <!-- //app-content -->
		        	</div> <!-- left-content -->

	        	</div>
	        </div>
        </div>
        <div class="space60"></div>	
    </div> <!-- //main -->
@@include('components/footer.html')