@@include('components/meta-2.html')
@@include('components/header.html')
	
	<div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->

    <div class="main bg-grey" role="main">
    	<div class="container">
	    	<header class="head-md-left space-line">
	            <h2>DASHBOARD</h2>
	            <span class="small">Lorem Ipsum is simply dummy text of the printing</span>
	        </header>

	        <div class="dashboard-wrap">
	        	<div class="row">
		        	<aside class="aside-left col-sm-3">
		        		<button class="btn-upload">Upload Produk</button>
		        		<div class="space20"></div>

		        		<div class="column-side">
		        			<div class="centered"> 
			        			<div class="side-user-profile">
			        				<figure>
			        					<img src="assets/img/person.jpg" alt="">
			        				</figure>
		        					<span class="user-name">Jassim Alkharafi</span>
		        					<div class="user-social">
		        						<a href="#" class="ion-social-facebook"></a>
		        						<a href="#" class="ion-social-twitter"></a>
		        						<a href="#" class="ion-social-google"></a>
		        						<a href="#" class="ion-social-linkedin"></a>
		        					</div>
		        					<button type="button" class="btn-dark-grey">Edit</button>
			        			</div>

			        			<div class="app-nav">
			        				<ul>
			        					<li>
			        						<a href="#">Ringkasan Akun</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Dijual</a>
			        					</li>
			        					<li>
			        						<a href="#">Draft Barang</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Terjual</a>
			        					</li>
			        					<li>
			        						<a href="#">Barang Favorit</a>
			        					</li>
			        					<li>
			        						<a href="#">Dompet</a>
			        					</li>
			        					<li>
			        						<a href="#">Transaksi</a>
			        					</li>
			        					<li class="active">
			        						<a href="#">Pengaturan</a>
			        					</li>
			        				</ul>
			        			</div> <!-- //app-nav -->
		        			</div>
		        		</div>
		        	</aside> <!-- //aside-left -->

		        	<div class="left-content col-sm-9">
		        		<h2 class="title-md-dashb">Transaksi</h2>
		        		
		        		<div class="dashboard-content">
		    				<div class="tabs_wrapper">
								<ul class="tabs-nav">
									<li class="active" rel="tab1">
										<span>Akun</span>
									</li>
									<li rel="tab2">
										<span>Alamat</span>
									</li>
									<li rel="tab3">
										<span>Rekening</span>
									</li>
								</ul>

								<div class="tabs_content_container">
									<div class="tab_content tab1">

										<div class="tb-white-box">
											<header class="head-md-left">
												<h2><span class="ti-write"></span>Informasi Produk</h2>
												<span class="small">Jual beli content. Artikel/images/jasa penulisan.</span>
											</header>

											<div class="form-horizontal">
											  <div class="form-group">
											    <label class="col-sm-2">Nama Produk</label>
											    <div class="col-sm-10">
											      <input type="text" class="form-control">
											    </div>
											  </div>

											  <div class="form-group">
											    <label class="col-sm-2">Password</label>
											    <div class="col-sm-10">
											      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
											    </div>
											  </div>

											  <div class="form-group">
											    <div class="col-sm-offset-2 col-sm-10">
											      <div class="checkbox">
											        <label>
											          <input type="checkbox"> Remember me
											        </label>
											      </div>
											    </div>
											  </div>
											  <div class="form-group">
											    <div class="col-sm-offset-2 col-sm-10">
											      <button type="submit" class="btn btn-default">Sign in</button>
											    </div>
											  </div>
											</div>
										</div> <!-- //tb-white-box -->

									


									</div>

									<div class="tab_content tab2">
										<p><strong class="text-darken">Daftar Rekening bank</strong></p>
										<div class="space15"></div>

										Anda belum memiliki daftar rekening bank, untuk memasukkan rekenind bank <a href="#" class="link-blue">klik disini</a>
									</div>
									
									<div class="tab_content tab3">
										<p><strong class="text-darken">Daftar Rekening bank</strong></p>
										<div class="space15"></div>
										
										<div class="table-responsive tb-myAcccount">
											<table class="table">
												<tr>
													<th>Nama Rekening</th>
													<th>Atas Nama</th>
													<th>Nomor rekening</th>
												</tr>
												<tr>
													<td>
														Bank Central Asia (BCA)
													</td>
													<td>
														Maman Suraman
													</td>
													<td>
														<a href="#" class="text-blue">
															<strong>324527163894</strong>
														</a>
													</td>
												</tr>
											</table>
										</div>

										<article>
											<p><strong class="text-uppercase">PENTING</strong></p>
											<p>Cermatlah dalam mengisi data rekening bank. ads.id tidak bertanggung jawab apabila terjadi hal yang tidak diinginkan akibat kesalahan dalam pengisian data rekening bank yang meliputi nomor rekening, nama pemilik rekening dan nama bank.</p>
										</article>
									</div>
								</div>
							</div> <!-- //Tabs-wrapper -->
		        		</div> <!-- //app-content -->
		        	</div> <!-- left-content -->

	        	</div>
	        </div>
        </div>
        <div class="space60"></div>	
    </div> <!-- //main -->
@@include('components/footer.html')