@@include('components/meta.html')
@@include('components/header.html')
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.8&appId=101466260277973";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
    <div class="space45"></div>
    <div class="main" role="main">
        <div class="container">
            <div class="row">
               
                <div class="content-left col-sm-8">
                    <article class="news-feature">
                        <figure>
                            <img src="assets/img/banner-news.jpg" alt="">
                        </figure>
                        <div class="desc">
                            <h4>
                                <a href="#">Alternatif Terbaik Keyword Revealer, Blackhat semi auto anti slap penguin 4.0 2016 revised</a>
                            </h4>
                            <p>Kali ini ane menemukan web terbaik sebagai alternatif keyword revealer yang bernama wordze.com. Berikut ini ane kasih screenshoot pas ane coba make gan.. <a href="#" class="link-blue">Selanjutnya</a></p>

                            <div class="meta-tag">
                                <a href="#" class="meta-tag-item">
                                    <i class="ion-android-calendar"></i>
                                    October 31, 2016
                                </a>
                                 <a href="#" class="meta-tag-item">
                                    <i class="ion-chatbubbles"></i>
                                    1 Comment
                                </a>
                            </div>
                        </div>
                    </article> <!-- //news-feature -->

                    <div class="row">
                        <article class="news-post">
                            <div class="inside">
                                <div class="thumb">
                                    <img src="assets/img/thumb-news1.jpg" alt="">
                                    <div class="overlay">
                                        <a href="#" class="js-vote"><span class="ion-star"></span></a>
                                        <a href="#" class="js-vote"><span class="ion-heart"></span></a>
                                    </div>
                                </div>

                                <div class="desc">
                                    <h4 class="title-sm">
                                        <a href="#">Alternatif Terbaik Keyword Revealer, Blackhat semi auto anti slap penguin 4.0 2016 revised</a>
                                    </h4>
                                    <p>Kali ini ane menemukan web terbaik sebagai alternatif keyword revealer yang bernama wordze.com.. <a href="#">Selanjutnya</a></p>
                                    <div class="meta-tag">
                                        <a href="#" class="meta-tag-item">
                                            <i class="ion-android-calendar"></i>
                                            October 31, 2016
                                        </a>
                                         <a href="#" class="meta-tag-item">
                                            <i class="ion-chatbubbles"></i>
                                            1 Comment
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article> <!-- //news-post -->

                        <article class="news-post">
                            <div class="inside">
                                <div class="thumb">
                                    <img src="assets/img/thumb-news2.jpg" alt="">
                                    <div class="overlay">
                                        <a href="#" class="js-vote" ><span class="ion-star"></span></a>
                                        <a href="#" class="js-vote" ><span class="ion-heart"></span></a>
                                    </div>
                                </div>

                                <div class="desc">
                                    <h4 class="title-sm">
                                        <a href="#">Alternatif Terbaik Keyword Revealer, Blackhat semi auto anti slap penguin 4.0 2016 revised</a>
                                    </h4>
                                    <p>Kali ini ane menemukan web terbaik sebagai alternatif keyword revealer yang bernama wordze.com.. <a href="#">Selanjutnya</a></p>
                                    <div class="meta-tag">
                                        <a href="#" class="meta-tag-item">
                                            <i class="ion-android-calendar"></i>
                                            October 31, 2016
                                        </a>
                                         <a href="#" class="meta-tag-item">
                                            <i class="ion-chatbubbles"></i>
                                            1 Comment
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article> <!-- //news-post -->

                        <article class="news-post">
                            <div class="inside">
                                <div class="thumb">
                                    <img src="assets/img/thumb-news3.jpg" alt="">
                                    <div class="overlay">
                                        <a href="#" class="js-vote" ><span class="ion-star"></span></a>
                                        <a href="#" class="js-vote" ><span class="ion-heart"></span></a>
                                    </div>
                                </div>

                                <div class="desc">
                                    <h4 class="title-sm">
                                        <a href="#">Alternatif Terbaik Keyword Revealer, Blackhat semi auto anti slap penguin 4.0 2016 revised</a>
                                    </h4>
                                   <p>Kali ini ane menemukan web terbaik sebagai alternatif keyword revealer yang bernama wordze.com.. <a href="#">Selanjutnya</a></p>

                                    <div class="meta-tag">
                                        <a href="#" class="meta-tag-item">
                                            <i class="ion-android-calendar"></i>
                                            October 31, 2016
                                        </a>
                                         <a href="#" class="meta-tag-item">
                                            <i class="ion-chatbubbles"></i>
                                            1 Comment
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article> <!-- //news-post -->

                        <article class="news-post">
                            <div class="inside">
                                <div class="thumb">
                                    <img src="assets/img/thumb-news4.jpg" alt="">
                                    <div class="overlay">
                                        <a href="#" class="js-vote" ><span class="ion-star"></span></a>
                                        <a href="#" class="js-vote" ><span class="ion-heart"></span></a>
                                    </div>
                                </div>

                                <div class="desc">
                                    <h4 class="title-sm">
                                        <a href="#">Alternatif Terbaik Keyword Revealer, Blackhat semi auto anti slap penguin 4.0 2016 revised</a>
                                    </h4>
                                    <p>Kali ini ane menemukan web terbaik sebagai alternatif keyword revealer yang bernama wordze.com.. <a href="#">Selanjutnya</a></p>
                                 <div class="meta-tag">
                                        <a href="#" class="meta-tag-item">
                                            <i class="ion-android-calendar"></i>
                                            October 31, 2016
                                        </a>
                                         <a href="#" class="meta-tag-item">
                                            <i class="ion-chatbubbles"></i>
                                            1 Comment
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article> <!-- //news-post -->

                        <article class="news-post">
                            <div class="inside">
                                <div class="thumb">
                                    <img src="assets/img/thumb-news5.jpg" alt="">
                                    <div class="overlay">
                                        <a href="#" class="js-vote"><span class="ion-star"></span></a>
                                        <a href="#" class="js-vote"><span class="ion-heart"></span></a>
                                    </div>
                                </div>

                                <div class="desc">
                                    <h4 class="title-sm">
                                        <a href="#">Alternatif Terbaik Keyword Revealer, Blackhat semi auto anti slap penguin 4.0 2016 revised</a>
                                    </h4>
                                    <p>Kali ini ane menemukan web terbaik sebagai alternatif keyword revealer yang bernama wordze.com.. <a href="#">Selanjutnya</a></p>
                                    <div class="meta-tag">
                                        <a href="#" class="meta-tag-item">
                                            <i class="ion-android-calendar"></i>
                                            October 31, 2016
                                        </a>
                                         <a href="#" class="meta-tag-item">
                                            <i class="ion-chatbubbles"></i>
                                            1 Comment
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article> <!-- //news-post -->
                    </div>
                    <div class="paginate-wrap">
                          <ul class="pagination">
                                <li>
                                    <a href="#">
                                        <span class="ion-ios-arrow-thin-left"></span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                  <a href="#">
                                    <span class="ion-ios-arrow-thin-right"></span>
                                  </a>
                                </li>
                          </ul>
                     </div> 
                </div> <!-- //content-left -->

                <aside class="aside-rt col-sm-4">
                    <div class="asideinside">
                        <div class="aside-src">
                            <form>
                                <input type="search" placeholder="Search..." class="form-control">
                                <!-- <input type="submit" class="btn-blue"> -->
                                <button class="ion-ios-search-strong btn-blue"></button>
                            </form>
                        </div> <!-- //aside-src -->

                        <div class="aside-ads">
                            <a href="#"><img src="assets/img/aside-ads.jpg" alt=""></a>
                        </div>

                        <div class="wdg-pop-post">
                            <h2 class="title-aside">Popular Post</h2>
                            <ul>
                                <li>
                                    <a href="#">Tutorial Scrape Bukalapak & Upload Produk Sekaligus15 </a>
                                </li><li>
                                    <a href="#">[SHARE] Alternatif Terbaik Keyword Revealer (GRATIS!)</a>
                                </li>
                                <li>
                                    <a href="#">Lorem Ipsum is simply dummy text of the printing </a>
                                </li>
                                <li>
                                    <a href="#">It is a long established fact that a reader will be distracted by the readable content.</a>
                                </li>
                            </ul>
                        </div>

                        <div class="fb-widget">
                            <div class="fb-page" data-href="https://www.facebook.com/bdanyacom/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/bdanyacom/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bdanyacom/">bdanya.com</a></blockquote></div>
                        </div>

                        <div class="tweet-widget">
                            <a class="twitter-timeline" data-height="500" href="https://twitter.com/TwitterDev/lists/national-parks">A Twitter List by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </aside><!-- //aside-rt -->
            </div>
        </div>
    </div> <!-- //main -->
    <div class="space60"></div>
@@include('components/footer.html')