@@include('components/meta.html')
@@include('components/header.html')
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.8&appId=101466260277973";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
    <div class="space45"></div>
    <div class="main" role="main">
        <div class="container">
            <div class="row">
               
                <div class="content-left col-sm-8">
                    <article class="post-detail">
                        <figure>
                            <img src="assets/img/banner-news.jpg" alt="" class="aligncenter">
                        </figure>

                        <header class="post-head">
                            <h2 class="title-md">Tiga Butir Benih, Blackhat semi auto anti slap penguin 4.0 2016 revised</h2>
                            <div class="meta-tag">
                                <a href="#" class="meta-tag-item">
                                    <i class="ion-android-calendar"></i>
                                    October 31, 2016
                                </a>
                                 <a href="#" class="meta-tag-item">
                                    <i class="ion-chatbubbles"></i>
                                    1 Comment
                                </a>
                            </div>
                        </header>

                        <p>Ketika Thomas Malthus (1766-1834) berteori bahwa pertumbuhan penduduk dunia mengikuti deret ukur (1,2,4,8 dst.) sementara pertumbuhan ketersediaan pangan mengikuti deret hitung (1,2,3,4 dst.), dunia mengikutinya. Dampaknya korban KB dirancang secara global untuk menekan pertumbuhan jumlah penduduk, dan perebutan sumber-sumber pangan menjadi ‘perang baru’ yang didorong oleh ketakutan manusia akan kelaparan. Bagaimana kalau teori Malthus ini ternyata salah ?</p>
                        <p>Dan saya termasuk orang yang sangat meyakini bahwa teori Malthus tersebut salah, mengapa demikian ? Ada petunjuk yang sebaliknya, bahwa pertumbuhan ketersediaan pangan itu sesungguhnya bersifat eksponential – bila saja manusia mau melaksanakan perintahNya , yaitu antara lain untuk memakmurkan bumi (QS 11:61).</p>
                        <p>Bahwasanya sekarang sepertinya teori Malthus yang benar – sekian banyak orang di dunia kelaparan, bukan karena daya dukung kehidupan di bumi yang tidak cukup untuk memberi makan para penduduknya – melainkan karena gagalnya manusia dalam melaksanakan perintahNya.</p>
                    </article>

                    <div class="social-share">
                        <a href="#" class="ss-fb">
                            <span class="ion-social-facebook iconx"></span>
                            Facebook
                        </a>
                        <a href="#" class="ss-tw">
                            <span class="ion-social-twitter iconx"></span>
                            Tiwtter
                        </a>
                         <a href="#" class="ss-goo">
                            <span class="ion-social-googleplus iconx"></span>
                            Google 
                        </a>
                         <a href="#" class="ss-pinter">
                            <span class="ion-social-pinterest iconx"></span>
                            Pinterest
                        </a>
                         <a href="#" class="ss-linkd">
                            <span class="ion-social-linkedin iconx"></span>
                            Linkedin
                        </a>
                    </div>

                    <div class="related-post">
                        <h2 class="title-sm">Related Post</h2>
                        <ul>
                            <li>
                                <h3 class="title-sm">
                                    <a href="#">Alternatif Terbaik Keyword Revealer, Blackhat semi auto anti slap penguin 4.0 2016 revised</a>
                                </h3>
                                <p>Kali ini ane menemukan web terbaik sebagai alternatif keyword revealer yang bernama wordze.com. Berikut ini ane kasih screenshoot pas ane coba make gan.. <a href="#" class="link-blue">Selanjutnya</a></p>

                                <div class="meta-tag">
                                    <a href="#" class="meta-tag-item">
                                        <i class="ion-android-calendar"></i>
                                        October 31, 2016
                                    </a>
                                     <a href="#" class="meta-tag-item">
                                        <i class="ion-chatbubbles"></i>
                                        1 Comment
                                    </a>
                                </div>
                            </li>

                            <li>
                                <h3 class="title-sm">
                                    <a href="#">Alternatif Terbaik Keyword Revealer, Blackhat semi auto anti slap penguin 4.0 2016 revised</a>
                                </h3>
                                <p>Kali ini ane menemukan web terbaik sebagai alternatif keyword revealer yang bernama wordze.com. Berikut ini ane kasih screenshoot pas ane coba make gan.. <a href="#" class="link-blue">Selanjutnya</a></p>

                                <div class="meta-tag">
                                    <a href="#" class="meta-tag-item">
                                        <i class="ion-android-calendar"></i>
                                        October 31, 2016
                                    </a>
                                     <a href="#" class="meta-tag-item">
                                        <i class="ion-chatbubbles"></i>
                                        1 Comment
                                    </a>
                                </div>
                            </li>

                            <li>
                                <h3 class="title-sm">
                                    <a href="#">Bulan Ramadhan Telah Usai, Sudahkah Kamu Merenungkan Hal-hal Berikut?</a>
                                </h3>
                                <p>Tidak terasa bulan Ramadhan tahun ini telah usai. Pada malam Hari Raya Idul Fitri, gema takbir dikumandangkan..</a></p>

                                <div class="meta-tag">
                                    <a href="#" class="meta-tag-item">
                                        <i class="ion-android-calendar"></i>
                                        October 31, 2016
                                    </a>
                                     <a href="#" class="meta-tag-item">
                                        <i class="ion-chatbubbles"></i>
                                        1 Comment
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="space45"></div>
                    <div class="comments">
                        <header class="comment-head">
                            <h4 class="title-sm">
                                <span class="ti-comments"></span>Komentar
                            </h4>
                        </header>

                        <div class="respond-wrap">
                            
                            <div class="respond">
                                  <div class="respond-left">
                                    <a href="#">
                                      <img src="assets/img/person.jpg" alt="">
                                    </a>
                                  </div>
                                  <div class="respond-body">
                                    <header class="respond-heading">
                                        <h4>Ivan Owens</h4>
                                        
                                        <div class="respond-action">
                                            <span class="ion-ios-calendar-outline">&nbsp;15 Maret 2016</span>
                                            <div class="respond-action-rt">
                                                <a href="#" class="ion-ios-flag"></a>
                                                <a href="#" class="ion-ios-undo"></a>
                                            </div>
                                        </div>
                                    </header>
                                    <p>@Crossfire I see it sold for $7500 and was never closed out, is this pricing still available ? If you have a serious interest, you can send me a private message.</p>

                                    <div class="respond">
                                          <div class="respond-left">
                                            <a href="#">
                                              <img class="media-object" src="assets/img/person2.jpg" alt="">
                                            </a>
                                          </div>
                                          <div class="respond-body">
                                            <header class="respond-heading">
                                                <h4>Ivan Owens</h4>
                                                
                                                <div class="respond-action">
                                                    <span class="ion-ios-calendar-outline">&nbsp;15 Maret 2016</span>
                                                    <div class="respond-action-rt">
                                                        <a href="#" class="ion-ios-flag"></a>
                                                        <a href="#" class="ion-ios-undo"></a>
                                                    </div>
                                                </div>
                                            </header>
                                            <p>@Crossfire I see it sold for $7500 and was never closed out, is this pricing still available ? If you have a serious interest, you can send me a private message.</p>
                                          </div>
                                    </div> <!-- //respond-inner -->
                                  </div> <!-- //respond -->

                                  <div class="respond">
                                          <div class="respond-left">
                                            <a href="#">
                                              <img class="media-object" src="assets/img/person3.jpg" alt="">
                                            </a>
                                          </div>
                                          <div class="respond-body">
                                            <header class="respond-heading">
                                                <h4>Ivan Owens</h4>
                                                
                                                <div class="respond-action">
                                                    <span class="ion-ios-calendar-outline">&nbsp;15 Maret 2016</span>
                                                    <div class="respond-action-rt">
                                                        <a href="#" class="ion-ios-flag"></a>
                                                        <a href="#" class="ion-ios-undo"></a>
                                                    </div>
                                                </div>
                                            </header>
                                            <p>@Crossfire I see it sold for $7500 and was never closed out, is this pricing still available ? If you have a serious interest, you can send me a private message.</p>
                                          </div>
                                    </div> <!-- //respond -->
                            </div>

                            <div class="link-see-all">
                                <a href="#">Lihat semua Komentar</a>
                            </div>

                            <div class="comment-form">
                                
                                <h3 class="title-sm">Tambahkan Komentar</h3>
                                <form class="f-comment">
                                    <textarea placeholder="Message" rows="8" class="form-control"></textarea>
                                    <input type="submit" class="btn-blue" value="Kirim Pesan">
                                    <div class="clearfix"></div>
                                </form>
                            </div>

                        </div> <!-- //respond-wrap -->
                    </div> <!-- //comments -->
                </div> <!-- //content-left -->

                <aside class="aside-rt col-sm-4">
                    <div class="asideinside">
                        <div class="aside-src">
                            <form>
                                <input type="search" placeholder="Search..." class="form-control">
                                <!-- <input type="submit" class="btn-blue"> -->
                                <button class="ion-ios-search-strong btn-blue"></button>
                            </form>
                        </div> <!-- //aside-src -->

                        <div class="aside-ads">
                            <a href="#"><img src="assets/img/aside-ads.jpg" alt=""></a>
                        </div>

                        <div class="wdg-pop-post">
                            <h2 class="title-aside">Popular Post</h2>
                            <ul>
                                <li>
                                    <a href="#">Tutorial Scrape Bukalapak & Upload Produk Sekaligus15 </a>
                                </li><li>
                                    <a href="#">[SHARE] Alternatif Terbaik Keyword Revealer (GRATIS!)</a>
                                </li>
                                <li>
                                    <a href="#">Lorem Ipsum is simply dummy text of the printing </a>
                                </li>
                                <li>
                                    <a href="#">It is a long established fact that a reader will be distracted by the readable content.</a>
                                </li>
                            </ul>
                        </div>

                        <div class="fb-widget">
                            <div class="fb-page" data-href="https://www.facebook.com/bdanyacom/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/bdanyacom/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bdanyacom/">bdanya.com</a></blockquote></div>
                        </div>

                        <div class="tweet-widget">
                            <a class="twitter-timeline" data-height="500" href="https://twitter.com/TwitterDev/lists/national-parks">A Twitter List by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </aside><!-- //aside-rt -->
            </div>
        </div>
    </div> <!-- //main -->
    <div class="space60"></div>
@@include('components/footer.html')