@@include('components/meta-2.html')
@@include('components/header.html')
	
	<div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;
            <a href="#">Dashboard</a>&nbsp; &#187; &nbsp;
            <span>Ringkasan</span>
        </div>
    </div> <!-- //breadcrumb -->

    <div class="main bg-white" role="main">
    	<div class="register-wrap">
	    	<div class="container">
	    		<div class="header-post">
	    			<h2>Log in or Registrasi</h2>
	    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
	    		</div>

	    		<div class="action">
	    			<a href="#" class="btn-blue">Daftar</a>
	    			<a href="#" class="btn-white">Login</a>
	    		</div>
	        </div>
        </div>
    </div> <!-- //main -->
@@include('components/footer.html')