@@include('components/meta.html')
@@include('components/header.html')
    <div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->

    <div class="main" role="main">
        <div class="seller-head">
            <div class="container">
                <div class="seller-profile">
                    <figure>
                        <img src="https://dummyimage.com/100x100/000/fff" alt="">
                    </figure>
                    <div class="desc">
                        <span class="name">
                            Jassim Alkharafi 
                            <i class="ion-checkmark-circled link-blue"></i>
                        </span>

                        <div class="meta-post-author">
                            <span href="#">
                                <i class="ion-ios-location"></i>&nbsp;&nbsp;Kabupaten Soreang, Bandung
                            </span>&nbsp;&nbsp;
                            <span>|</span>&nbsp;&nbsp;
                            <span>Bergabung 06 April 2015 </span>&nbsp;&nbsp;
                            <span>|</span>&nbsp;&nbsp;
                            <span>Login Terakhir : 1 jam yang lalu </span>
                        </div>
                    </div>
                </div><!-- //seller-profile -->  

                <div class="seller-col">
                    <h6>Feedback</h6>
                    <strong>87.5% positive</strong>
                </div>

                <div class="seller-col">
                    <h6>Transaksi</h6>
                    <strong>36 totalling $3,916</strong>
                </div>
            </div>
        </div> <!-- //seller-head -->
        <div class="container">
            <div class="row">
                
                <div class="content-left col-sm-8">
  
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                   incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                   exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                   dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                   </p>
                   <div class="space30"></div>

                    <article class="single-post">
                        
                        <div class="table-responsive tb-product">
                            <table class="table">
                                <tr>
                                    <th style="text-left; width: 48%">Produk</th>
                                    <th>BIN</th>
                                    <th>BID TERAKHIR</th>
                                    <th>Status</th>
                                </tr>

                                <tr>
                                    <td>
                                        <figure class="prod-thumb">
                                            <a href="#"><img src="assets/img/thumb-prod.jpg" alt=""></a>
                                        </figure>

                                        <div class="prod-desc">
                                            <h5>
                                                <a href="#">surpriserequirements.com</a>
                                            </h5>
                                            <p>Would you like to own an already established, easy to manage t-shirt business…</p>
                                            <span class="prod-seller">Penjual : Dadang Suradang</span>
                                            <div class="user-rate">
                                                <span class="ion-ios-star"></span>
                                                <span class="ion-heart"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-blue">
                                            <strong>Rp. 200.000.000</strong>
                                        </span><br>
                                        200 Penawar
                                    </td>
                                    <td>
                                        <span class="text-blue">
                                            <strong>
                                            Rp. 200.000.000
                                            </strong>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="prod-status st-pending">
                                            <span class="ion-more"></span>
                                            <span>Pending</span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <figure class="prod-thumb">
                                            <a href="#"><img src="assets/img/thumb-prod2.jpg" alt=""></a>
                                        </figure>

                                        <div class="prod-desc">
                                            <h5>
                                                <a href="#">surpriserequirements.com</a>
                                            </h5>
                                            <p>Would you like to own an already established, easy to manage t-shirt business…</p>
                                            <span class="prod-seller">Penjual : Dadang Suradang</span>
                                            <div class="user-rate">
                                                <span class="ion-ios-star"></span>
                                                <span class="ion-heart"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-blue">
                                            <strong>Rp. 200.000.000</strong>
                                        </span><br>
                                        200 Penawar
                                    </td>
                                    <td>
                                        <span class="text-blue">
                                            <strong>
                                            Rp. 200.000.000
                                            </strong>
                                        </span>
                                    </td>
                                    <td>
                                       <div class="prod-status st-close">
                                            <span class="ion-minus-circled"></span>
                                            <span>Close</span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <figure class="prod-thumb">
                                            <a href="#"><img src="assets/img/thumb-prod.jpg" alt=""></a>
                                        </figure>

                                        <div class="prod-desc">
                                            <h5>
                                                <a href="#">surpriserequirements.com</a>
                                            </h5>
                                            <p>Would you like to own an already established, easy to manage t-shirt business…</p>
                                            <span class="prod-seller">Penjual : Dadang Suradang</span>
                                            <div class="user-rate">
                                                <span class="ion-ios-star"></span>
                                                <span class="ion-heart"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-blue">
                                            <strong>Rp. 200.000.000</strong>
                                        </span><br>
                                        200 Penawar
                                    </td>
                                    <td>
                                        <span class="text-blue">
                                            <strong>
                                            Rp. 200.000.000
                                            </strong>
                                        </span>
                                    </td>
                                    <td>
                                       <div class="prod-status st-jual">
                                            <span class="ion-checkmark-circled"></span>
                                            <span>Terjual</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="text-right">
                                <a href="#" class="btn-white">Lihat Semua</a>
                            </div>
                        </div>
                    </article>
                </div>

                <aside class="sidebar-right col-sm-4">
                    <h2 class="title-aside">User Trust</h2>
                    <div class="aside-list-icon">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="ti-email"></i>Email Address
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="ti-mobile"></i>Phone Number</a>
                            </li>
                            <li>
                                <a href="#"><i class="ti-id-badge"></i>Full Name</a>
                            </li>
                            <li>
                                <a href="#"><i class="ti-medall-alt"></i>Buyer Certification</a>
                            </li>
                        </ul>
                    </div>
                    <div class="space30"></div>
                    <h2 class="title-aside">History</h2>
                    <div class="aside-list-icon">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="ti-comments"></i>35 comments placed
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="ti-money"></i>1 Bid placed</a>
                            </li>
                            <li>
                                <a href="#"><i class="ti-money"></i>1 Bin</a>
                            </li>
                            <li>
                                <a href="#"><i class="ti-view-list"></i>40 listings, 93% sold</a>
                            </li>
                        </ul>
                    </div>
                    <div class="space30"></div>
                    <h2 class="title-aside">Social Media</h2>
                    <ul class="social-color">
                        <li>
                            <a href="#" class="ion-social-facebook"></a> 
                        </li>
                        <li>
                            <a href="#" class="ion-social-twitter"></a> 
                        </li>
                        <li>
                            <a href="#" class="ion-social-googleplus"></a> 
                        </li>
                        <li>
                            <a href="#" class="ion-social-linkedin"></a> 
                        </li>                        
                    </ul>

                    <div class="space30"></div>
                    <a href="#" class="btn-blue">Mulai Jualan</a>
                    <div class="laporkeun">
                        <a href="#"><i class="ion-ios-flag"></i>&nbsp;&nbsp;Laporkan user</a>
                    </div>
                </aside> <!--Aside -->

            </div>
        </div>
        <div class="space60"></div>
    </div> <!-- //main -->
@@include('components/footer.html')