@@include('components/meta.html')
@@include('components/header.html')
    <div class="breadcrumb">
        <div class="container">
            <a href="#">Home</a>&nbsp; &#187; &nbsp;<span>Domain</span>
        </div>
    </div> <!-- //breadcrumb -->
    <div class="space20"></div>

    <div class="main" role="main">
        <div class="container">
            <div class="row">
                
                <div class="content-left col-sm-8">
                    <header class="header-post">
                        <h2>surpriserequirements.com</h2>
                        <div class="meta-post-author">
                            <a href="#">Website</a>
                            <span>|</span>
                            <span>Dijual oleh : Dadang Suradang</span>
                            <span class="ion-checkmark-circled"></span>
                        </p>
                    </header>

                    <article class="single-post">
                       
                        <figure class="img-center">
                            <img src="assets/img/banner-single.jpg" alt="">
                        </figure>
                        <hr>

                        <h4 class="title-sm">Deskripsi</h4>
                        <p>A Starter Site is a brand new website. As it has recently been launched, it's unlikely to have traffic, revenue.</p>
                        
                        <div class="table-responsive tb-grey">
                            <table class="table">
                                <tr>
                                    <th>Listing Type</th>
                                    <th>Site Age</th>
                                    <th>Platform</th>
                                    <th>Site Type</th>
                                </tr>
                                <tr>
                                    <td>Starter Site</td>
                                    <td>New</td>
                                    <td>PHP</td>
                                    <td>SaaS</td>
                                </tr>
                            </table>    
                        </div>

                        <h4 class="title-xs">Unik</h4>
                        <div class="table-responsive tb-grey">
                            <table class="table">
                                <tr>
                                    <th>Template Unik</th>
                                    <th>Konten Unik</th>
                                    <th>Desain Unik</th>
                                    <th>Site Type</th>
                                </tr>
                                <tr>
                                    <td>Yes</td>
                                    <td>No</td>
                                    <td>Ye</td>
                                    <td></td>
                                </tr>
                            </table>    
                        </div>
                        <p>New Credit card processing site for sale for the first time, paypal competitor</p><br>   
                        <p>You can charge from 2.5% - 7% per transaction! You get 100% of those profits as you will completely own the website. Our system is specialize encryption schemes for secure transactions between users</p>
                        <p>What can epayenterprise.net exactly do?</p>
                        <ul class="list-styled">
                            <li>Fully supports automated recurring billing for subscription</li>
                            <li>100% template based. Allows you to completely customize all colors and logos, for a completely brandable site. </li>
                        </ul>
                    </article>

                    <div class="space60"></div>
                    <div class="comments">
                        <header class="comment-head">
                            <h4 class="title-sm">
                                <span class="ti-comments"></span>Komentar
                            </h4>
                        </header>

                        <div class="respond-wrap">
                            
                            <div class="respond">
                                  <div class="respond-left">
                                    <a href="#">
                                      <img src="assets/img/person.jpg" alt="">
                                    </a>
                                  </div>
                                  <div class="respond-body">
                                    <header class="respond-heading">
                                        <h4>Ivan Owens</h4>
                                        
                                        <div class="respond-action">
                                            <span class="ion-ios-calendar-outline">&nbsp;15 Maret 2016</span>
                                            <div class="respond-action-rt">
                                                <a href="#" class="ion-ios-flag"></a>
                                                <a href="#" class="ion-ios-undo"></a>
                                            </div>
                                        </div>
                                    </header>
                                    <p>@Crossfire I see it sold for $7500 and was never closed out, is this pricing still available ? If you have a serious interest, you can send me a private message.</p>

                                    <div class="respond">
                                          <div class="respond-left">
                                            <a href="#">
                                              <img class="media-object" src="assets/img/person2.jpg" alt="">
                                            </a>
                                          </div>
                                          <div class="respond-body">
                                            <header class="respond-heading">
                                                <h4>Ivan Owens</h4>
                                                
                                                <div class="respond-action">
                                                    <span class="ion-ios-calendar-outline">&nbsp;15 Maret 2016</span>
                                                    <div class="respond-action-rt">
                                                        <a href="#" class="ion-ios-flag"></a>
                                                        <a href="#" class="ion-ios-undo"></a>
                                                    </div>
                                                </div>
                                            </header>
                                            <p>@Crossfire I see it sold for $7500 and was never closed out, is this pricing still available ? If you have a serious interest, you can send me a private message.</p>
                                          </div>
                                    </div> <!-- //respond-inner -->
                                  </div> <!-- //respond -->

                                  <div class="respond">
                                          <div class="respond-left">
                                            <a href="#">
                                              <img class="media-object" src="assets/img/person3.jpg" alt="">
                                            </a>
                                          </div>
                                          <div class="respond-body">
                                            <header class="respond-heading">
                                                <h4>Ivan Owens</h4>
                                                
                                                <div class="respond-action">
                                                    <span class="ion-ios-calendar-outline">&nbsp;15 Maret 2016</span>
                                                    <div class="respond-action-rt">
                                                        <a href="#" class="ion-ios-flag"></a>
                                                        <a href="#" class="ion-ios-undo"></a>
                                                    </div>
                                                </div>
                                            </header>
                                            <p>@Crossfire I see it sold for $7500 and was never closed out, is this pricing still available ? If you have a serious interest, you can send me a private message.</p>
                                          </div>
                                    </div> <!-- //respond -->
                            </div>

                            <div class="link-see-all">
                                <a href="#">Lihat semua Komentar</a>
                            </div>

                            <div class="comment-form">
                                
                                <h3 class="title-sm">Tambahkan Komentar</h3>
                                <form class="f-comment">
                                    <textarea placeholder="Message" rows="8" class="form-control"></textarea>
                                    <input type="submit" class="btn-blue" value="Kirim Pesan">
                                    <div class="clearfix"></div>
                                </form>
                            </div>

                        </div> <!-- //respond-wrap -->
                    </div> <!-- //comments -->
                </div>

                <aside class="sidebar-right col-sm-4">
                    <div class="side-bid">
                        <span class="label-bid-price">
                            Harga untuk BIN <a href="#" class="ion-help-circled tip" data-mode="top" data-tip="I'm icon with tooltip"></a>
                        </span>
                        <span class="bid-price">Rp. 200.000.000</span>
                        <div class="space20"></div>
                        <span class="label-bid-price">
                            Harga Awal Untuk BID <a href="#" class="ion-help-circled tip" data-mode="top" data-tip="I'm icon with tooltip"></a>
                        </span>
                        <span class="bid-price">Rp. 1.000.000</span>
                        <span class="total-bid-offer">14 Tawaran lelang</span>

                        <ul class="bidding-time">
                            <li>
                                <span class="ion-ios-stopwatch iconx"></span>
                                12 hari yang tersisa untuk mengikuti lelang produk ini 
                            </li>
                            <li>
                                <span class="ion-refresh iconx"></span>
                                Update 06 April 2015, 12. 30 WIb
                            </li>
                        </ul>

                        <div class="bid-status">
                            <div class="bid-status-now color-1">
                                <span class="ion-more ionmore-circle"></span>
                                <strong>Pending</strong>
                            </div>
                            <p>Produk ini sudah ada pemenang,  Jika dalam 24 jam belum ada transfer. maka akan lelang aka dibuka kembali</p>
                        </div> <!--//bidding-status -->

                        <div class="bid-amount">
                            <p>Minimal kelipatan untuk mengikuti lelang Rp. 250.500</p>
                             <div class="filter-item">
                                <select class="form-control selectStyle">
                                    <option>Enter bid amount</option>
                                    <option>200</option>
                                    <option>3 Ratus</option>
                                    <option>4 Rakus</option>
                                    <option>5 Rusuk</option>
                                </select>
                            </div>
                            <button type="button" class="btn-blue full">BID NOW</button>
                            <div class="space15"></div>
                            <button type="button" class="btn-white full">BUY IT NOW</button>
                        </div>
                        <div class="bid-action">
                            <ul>
                                <li class="js-toggle"><span class="ion-star"></span>Follow</li>
                                <li class="js-toggle"><span class="ion-heart"></span>Favorite</li>
                                <li>
                                    <a href="#">
                                        <span class="ion-ios-flag"></span> Laporakan Barang
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="bid-social">
                            <ul>
                                <li class="bid-share">
                                    <span>Share :</span>
                                    <a href="#" class="ion-social-facebook"></a>
                                    <a href="#" class="ion-social-twitter"></a>
                                    <a href="#" class="ion-social-google"></a>
                                </li>

                                <li>
                                    <span>66 Views, 1 pengikut</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="side-seller">
                        <h3 class="title-sm">Penjual</h3>
                        <figure class="thumb-seller">
                            <img src="assets/img/person2.jpg" alt="">
                        </figure>
                        <div class="desc">
                            <header>
                                <h5>Jassim Alkharafi <span class="ion-checkmark-circled"></span></h5>
                                <p class="seller-social">
                                    <a href="#" class="ion-social-facebook"></a>
                                    <a href="#" class="ion-social-twitter"></a>
                                    <a href="#" class="ion-social-google"></a>
                                    <a href="#" class="ion-social-linkedin"></a>
                                </p>
                            </header>
                            <p>Bergabung 06 April 2015 <br> Login terakhir 1 jam yang lalu</p>
                            <span class="seller-location">
                                <span class="ion-location"></span>
                                Kab. Soppeng
                            </span>

                            <a href="#" class="link-blue">Lihat Pengguna ini</a>
                        </div>
                    </div>

                    <div class="side-activities">
                        <h3 class="title-sm">Penjual</h3>
                        <ul>
                            <li class="side-activ-item">
                                <span class="ion-ios-stopwatch iconx"></span>
                                <div class="desc">
                                    <span class="time-activ">1 detik yang lalu</span>
                                    <p>Belum ada bid maupun komentar</p>
                                </div>
                            </li>

                            <li class="side-activ-item">
                                <span class="ion-ios-stopwatch iconx"></span>
                                <div class="desc">
                                    <span class="time-activ">20 menit yang lalu</span>
                                    <p>2 Komentar</p>
                                </div>
                            </li>

                            <li class="side-activ-item">
                                <span class="ion-ios-stopwatch iconx"></span>
                                <div class="desc">
                                    <span class="time-activ">3 Jam yang lalu</span>
                                    <p>20 Bid</p>
                                </div>
                            </li>

                              <li class="side-activ-item">
                                <span class="ion-ios-stopwatch iconx"></span>
                                <div class="desc">
                                    <span class="ion-ios-more"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside> <!--Aside -->

            </div>
        </div>
        <div class="space60"></div>
    </div> <!-- //main -->
@@include('components/footer.html')