@@include('components/meta.html')
@@include('components/header.html')
    <div class="main" role="main">
        <div class="container">
            <section class="sg-typo">
                <h2 class="sg-big-title">
                    Typography
                </h2> <!-- /sg-big-title -->

                <h4 class="sg-mg-title">Headings</h4>
                <div class="components-wrap">
                    <dl class="dl-horizontal">
                      <dt>HEADING 1 <pre>class="title-xlg"</pre></dt>
                      <dd>
                          <h1 class="title-xlg">The quick brown fox jumps over the lazy dog</h1>
                      </dd>

                      <dt>HEADING 2 <pre>class="title-lg"</pre></dt>
                      <dd>
                          <h2 class="title-lg">The quick brown fox jumps over the lazy dog</h2>
                      </dd>

                      <dt>HEADING 2 Left<pre>class="title-lg-lt"</pre></dt>
                      <dd>
                          <h2 class="title-lg-lt">The quick brown fox jumps over the lazy dog</h2>
                      </dd>

                      <dt>HEADING 3 <pre>class="title-xmd"</pre></dt>
                      <dd>
                          <h3 class="title-xmd">The quick brown fox jumps over the lazy dog</h3>
                      </dd>

                      <dt>HEADING 4 <pre>class="title-md"</pre></dt>
                      <dd>
                          <h4 class="title-md">The quick brown fox jumps over the lazy dog</h4>
                      </dd>

                      <dt>HEADING 5 <pre>class="title-sm"</pre></dt>
                      <dd>
                          <h5 class="title-sm">The quick brown fox jumps over the lazy dog</h5>
                      </dd>

                      <dt>HEADING 6 <pre>class="title-xs"</pre></dt>
                      <dd>
                          <h6 class="title-xs">The quick brown fox jumps over the lazy dog</h6>
                      </dd>
                    </dl>
                </div>

                <div class="space45"></div>
            </section>
        </div>
    </div> <!-- //main -->
@@include('components/footer.html')