@@include('components/meta.html')
@@include('components/header.html')
    <div class="main summary-wrap" role="main">
        <div class="row-centered">
            <h1 class="title-lg">Pembayaran Via Transfer</h1>
            <section class="hero-checkout">
                <p>Pembelian anda dicatat dengan nomor tagihan yang tertera dibawah ini </p>
                <p><a href="#" class="id-invoice">Nomor Tagihan #160285069499</a></p>
            </section> <!-- //hero-checkout -->

            <div class="summary-block">
                <div class="billing-detail">
                    <span>Mohon Segera melakukan pembayaran sebelum</span>
                    <p class="bill-time-limit">Kamis, 03 November 2016 pukul 22:21 WIB (1x 10 Jam)</p>

                    <div class="billing-price">
                        <span> Rp. 111.0444</span>
                    </div>
                     <p>
                         <strong class="third-color">Tepat hingga 3 digit terakhir</strong><br>
                         <em>Perbedaan nilai transfer akan menghambat proses verifikasi</em>
                     </p>

                     <div class="align-center">
                         <a href="#" class="btn-grey">Salin</a>
                     </div>
                </div> <!-- //billing-detail -->

                <div class="payment-acc">
                    <p class="text-center">Pembayaran dapat dilakukan ke salah satu rekening a/n ads id sebagai berikut</p>
                    <div class="space20"></div>
                    <ul>
                        <li class="payacc-item">
                            <figure>
                                <img src="assets/img/payment-bca.png" alt="">
                            </figure>
                            <div class="acc-detail">
                                Bank BCA, Jakarta<br>
                                731 025 2527<br>
                                a/n ads id lelang
                            </div>
                        </li>

                        <li class="payacc-item">
                            <figure>
                                <img src="assets/img/payment-mandiri.png" alt="">
                            </figure>
                            <div class="acc-detail">
                                Bank Mandiri, Jakarta<br>
                                0700 000 899 992<br>
                                a/n ads id lelang
                            </div>
                        </li>

                        <li class="payacc-item">
                            <figure>
                                <img src="assets/img/payment-bni.png" alt="">
                            </figure>
                            <div class="acc-detail">
                                Bank BNI, Jakarta<br>
                                023 827 2088<br>
                                a/n ads id lelang
                            </div>
                        </li>

                        <li class="payacc-item">
                            <figure>
                                <img src="assets/img/payment-bri.png" alt="">
                            </figure>
                            <div class="acc-detail">
                                Bank BRI, Jakarta<br>
                                034 101 000 743 303<br>
                                a/n ads id lelang
                            </div>
                        </li>
                    </ul>

                    <div class="payacc-action">
                        <p>Teriam kasih telalh berbelanja di ads id lelang</p>
                        <a href="#" class="btn-blue">Mulai Jualan</a>
                    </div>
                </div>
            </div>

            <div class="space30"></div>
            <div class="btn-full">
                <input type="button" value="Lanjutkan" class="btn-blue-full"> 
            </div>
            <div class="space30"></div>
        </div>
    </div> <!-- //main -->
@@include('components/footer.html')