    @@include('components/meta.html')
    @@include('components/header.html')
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.8&appId=101466260277973";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
        
        <div class="space45"></div>
        <div class="main" role="main">
            <div class="container">
                <div class="row">
                    <aside class="aside-lt col-sm-3">
                        <div class="sidepage-nav">
                            <ul>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>
                                    <a href="#">Term & Use</a>
                                </li>
                                <li>
                                    <a href="#">Draft Barang</a>
                                </li>
                                <li>
                                    <a href="#">Barang Terjual</a>
                                </li>
                                <li>
                                    <a href="#">Barang Favorit</a>
                                </li>
                                <li>
                                    <a href="#">Dompet</a>
                                </li>
                                <li>
                                    <a href="#">Transaksi</a>
                                </li>
                                <li>
                                    <a href="#">Pengaturan</a>
                                </li>
                            </ul>
                        </div>
                    </aside>

                    <div class="content col-sm-9">
                        <h2 class="title-xs">Peraturan berikut ini berlaku secara universal untuk keseluruhan bagian forum.</h2>
                        <ul class="list-styled-disc">
                            <li>
                                Dilarang melakukan spam. (Ban 1 Hari - Ban Permanen)
                                <ul class="list-styled-line">
                                    <li>Yg termasuk kategori spam:</li>
                                    <li>Memposting referral link. (Ban 1 Minggu)</li>
                                    <li>Mereferensikan link ke situs lain, baik milik pribadi atau bukan. (Ban 1 Hari)</li>
                                    <li>Member baru yang langsung melakukan promosi (Ban Permanen)</li>
                                </ul>
                            </li>
                            <li>Dilarang mem-posting promosi di luar board bisnis. (Ban 1 bulan)
                                <ul class="list-styled-line">
                                    <li>Board "Trade" akan terbuka jika anggota forum sudah mencapai lebih dari 15 posting.</li>
                                </ul>
                            </li>
                            <li>Dilarang melakukan junk flood. (Ban 1 minggu)
                                <ul class="list-styled-line">
                                    <li>Yang dimaksudkan dengan junk flood adalah mengirimkan banyak post sampah atau isi yang selalu sama/mirip.</li>
                                </ul>
                            </li>
                            <li>Dilarang dengan sengaja memposting atau membuat thread baru dengan topik yg tidak sesuai. (Ban 3 hari)</li>
                            <li>Dilarang dengan sengaja membuat duplikat thread/post. (Ban 3 hari)</li>
                            <li>Dilarang memposting/membahas/menyarankan hal2 yg bersifat ilegal. (Ban 1 bulan) <br>Yg 
                                <ul class="list-styled-line">
                                    <li>Termasuk kategori ilegal:</li>
                                    <li>layanan/kegiatan/program yg melanggar aturan program yg bersangkutan (click exchange, click club, autoclick, dll).</li>
                                    <li>segala sesuatu bertipe komersil yg disebarluaskan tanpa adanya resell right (nulled script, cracked software), dan segala sesuatu yg melanggar moral dan etika dalam berbisnis dan bermasyarakat (money game, arisan berantai, piramida).</li>
                                    <li>Dilarang memposting/membahas hal2 yg melanggar privacy orang lain. (Ban 1 bulan)</li>
                                    <li>Yg termasuk privacy misalnya penyebarluasan informasi detil (misal dari whois) milik seseorang, tanpa adanya persetujuan dari pihak yg bersangkutan.</li>
                                </ul>
                            </li>
                            <li>Dilarang menuliskan hal2 yg tidak layak / tidak etis secara moral / SARA / menyinggung perasaan orang lain / hate / racism. (Ban 1 bulan)</li>
                            <li>Dilarang menggunakan nama account yg tidak layak / tidak etis. (Ban permanen)</li>
                            <li>Dilarang mem-bump suatu posting. Pengecualian untuk topik2 posting yg memang penting. (Ban 3 hari) (Perkecualian untuk member donatur)</li>
                            <li>Dilarang membuka thread baru untuk topik yg sudah pernah dibahas sebelumnya. (Ban 3 hari)
                                <ul class="list-styled-line">
                                    <li>Manfaatkan fasilitas pencarian forum untuk mencari topik2 yg sudah pernah dibahas.</li>
                                </ul>
                            </li>
                            <li>Dilarang menggunakan image pada signature, signature Text maksimum 3 baris. (Ban 3 hari)</li>
                            <li>Dilarang melakukan personal attack terhadap seseorang. (Ban 1 minggu) Bila anda memiliki masalah dengan seseorang atau produk/jasa/website milik-nya, silahkan selesaikan masalah tersebut secara pribadi.</li>
                        </ul>

                        <div class="space15"></div>
                            <p>Catatan : </p>
                            <ul class="list-styled-disc">
                                <li>Bila pada thread/post anda ingin menyertakan image dalam hal ini bukan attachment, diharapkan edit terlebih dahulu ukuran dari image tersebut(width & height) jangan sampai melibihi ukuran (width) dari forum ADS.ID.</li>
                                <li>PERATURAN DI ATAS SEWAKTU-WAKTU DAPAT BERUBAH DAN MENGIKAT BAGI SELURUH ANGGOTA FORUM.</li>
                                <li>Staff berhak menambah/mengurangi lama masa ban sesuai dengan subjektifitas staff terhadap berat ringannya pelanggaran yang sudah dilakukan.</li>
                                <li>Keputusan apapun yang dilakukan oleh staff forum adalah final.</li>
                                <li>Per 6 Agustus 2016</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- //main -->
        <div class="space60"></div>
    @@include('components/footer.html')