@@include('components/meta.html')
@@include('components/header.html')

    <div class="main" role="main">
        <div class="thanks-row">
            <div class="container">
                <div class="icon-thanks">
                    <span class="ion-checkmark-round"></span>
                </div>

                <article class="thanks-desc">
                    <h2>Terima kasih</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                    <div class="thanks-action">
                        <a href="#" class="btn-white">Home</a>
                        <a href="#" class="btn-blue">Mulai Jualan</a>
                    </div>
                </article>
            </div>
        </div>
    </div> <!-- //main -->
@@include('components/footer.html')