/** ABOUT
===================================*/
.banner-about {
	text-align: center;
	color: white;
	overflow: hidden;
	padding: 0 20px;
	margin-bottom: 40px;

	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	min-height: 240px;

	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;

	h2 { 
		font-weight: bold;
		margin: 0;
		line-height: 1.1em;
		font-size: 32px;
	}

	@media screen and (min-width: 48em) {
		min-height: 340px;
		font-size: 38px;
	}

	@media screen and (min-width: 62em) {
		min-height: 480px;
		margin-bottom: 60px;

		h2 {
			font-size: 48px;
			line-height: 1.2em;
		}
	}
}

.why-us {
	margin-bottom: 50px;
	.header-post {
		margin-bottom: 50px;
	}
}

.whyus-item {
	display: inline-block;
	width: 100%;
	padding: 0 15px;
	margin: 0 0 25px;
	vertical-align: top;

	@media screen and (min-width: 45em) {
		width: 48%;
	}

	.iconx {
		float: left;
		width: 50px;
		margin-right: 10px;

		@media screen and (min-width: 48em) {
			margin-right: 20px;
		}
		span {
			display: inline-block;
			font-size: 33px;
			color: #E4E6EB;
			@media screen and (min-width: 48em) {
				font-size: 46px;
			}
		}
	}

	.desc {
		overflow: hidden;

		h4 {
			margin: 0;
			font-size: 18px;
			color: $color-blue-dark;
			font-weight: 700;
			margin-bottom: 10px;
		}
	}
}

.how-start {
	&.row-centered-lg {
		@media screen and (min-width: 48em) {
			padding: 0;
		}
	}

	.big-thumb {
		float:  none;
		text-align: center;
		margin-bottom: 25px;

		@media screen and (min-width: 48em) {
			float: left;
			margin-right: 55px;
			text-align: left;
		}
	}

	.desc {
		h3 {
			margin: 0;
			font-size: 25px;
			margin-bottom: 20px;
			font-weight: 700;
			color: $third-color;

			@media screen and (min-width: 48em) { 
				font-size: 30px;
			}
		}
	}
}