/** SIDEBAR
===================================*/

.sidebar-right {
	margin-bottom: 30px;
}

.side-bid {
	.label-bid-price {
		color: $second-color;
		font-size: 14px;
		display: block;

		a {
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			color: $text-color;
			font-size: 0.9em;

			&:hover {
				color: $color-blue;
			}
		}
	}

	.bid-price {
		color: $color-blue;
		font-size: 24px;
		font-weight: 700;
	}

	.total-bid-offer {
		display: block;
		color: #D3D7DE;
		font-size: 12px;
	}
}

.asideinside {
	border: 1px solid $color-light-grey;
	border-radius: 5px;
	padding: 30px 25px;
	overflow: hidden;	
}

.bid-status {
	border-bottom: 1px dashed #E7E8EA;
	padding-bottom: 10px;
	margin-bottom: 15px; 
}

.bidding-time {
	margin: 15px 0;

	li {
		display: block;
		position: relative;
		padding-left: 25px;
		margin-bottom: 5px;

		.iconx {
			position: absolute;
			left: 0;
			top: 0;
			font-size: 1.4em;
		}
	}
}

.bid-amount {
	.filter-item {
		margin-bottom: 20px;
	}
}

.bid-action {
	margin: 15px 0;

	ul {
		li {
			display: inline-block;
			margin-right: 5px;

			@media screen and (min-width: 62em) {
				&:last-child {
					float: right;
				}
			}

			[class^="ion-"], [class*="ion-"] {
				color: $second-color;
				margin-right: 3px;
				vertical-align: middle;
			}	

			a {
				color:$second-color;

				&:hover {
					color: $color-blue;
				}
			}

			&.active {
				[class^="ion-"], [class*="ion-"] {
					color: #FF003F;
				}
			}
		}
	}
}

.bid-social {
	margin:  20px 0 15px; 
	ul {
		li {
			display: inline-block;
			vertical-align: top;

			@media screen and (min-width: 62em) {
				&:last-child {
					float: right;
				}
			}
		}
	}
	
	.bid-share {
		span, a {
			display: inline-block;
			margin-right: 5px;
			vertical-align: middle;
		}

		a {
			color: lighten($second-color, 20%);
			font-size: 1.2em;
		}
	}
}

.side-seller {
	padding: 20px 0;
	margin: 20px 0;
	border-top: 1px dashed #EEEEEE;
	border-bottom: 1px dashed #EEEEEE;
	
	.thumb-seller {
		max-width: 93px;
		border-radius: 9999px;
		overflow: hidden;
		float: left;
		margin-right: 20px;

		img {
			border-radius: 9999px;
		}
	}

	.desc {
		overflow: hidden;

		h5 {
			margin: 0;
			font-size: 14px;
			color: $third-color;
			margin-bottom: 3px;
			font-weight: 400;
			color: $third-color;

			span {
				color: $color-blue;
				font-size: 1.3em;
				display: inline-block;
				vertical-align: middle;
				margin-left: 0px;
				line-height: 1.2em;
			}
		}
	}

	.seller-social {
		a {
			display: inline-block;
			margin: 0 2px;
			color: $color-light-grey;

			&:hover {
				color: $color-blue;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.seller-location {
		margin: 10px 0;
		display: block;
	}

	.link-blue {
		color: $color-blue;
		display: inline-block;

		&:hover {
			color: $third-color;
			text-decoration: underline;
		}
	}
}


.side-activ-item {
	display: block;
	padding-bottom: 15px;
	position: relative;
	z-index: 10;
	padding-left: 50px;

	&:before {
		content: '';
		position: absolute;
		z-index: 0;
		left: 15px;
		top: 0;
		height: 100%;
		width: 1px;
		background-color: $color-blue;
	}

	.iconx {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		display: inline-block;
		vertical-align: middle;
		color: white;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 9999px;
		overflow: hidden;
		background-color: $color-blue;
		text-align: center;
		font-size: 1.4em;
		float: left;
	}

	.desc {
		overflow: hidden;
		.time-activ {
			font-style: italic;
			color: rgba($second-color, 25%);
		}
	}
}

.aside-src {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;

	.form-control {
		height: 40px;
		padding-right: 55px;
	}

	.btn-blue {
		position: absolute;
		right: 0;
		top: 0;
		height: 40px;
		overflow: hidden;
		border-radius: 0;
		border-top-right-radius: 4px;	
		border-bottom-right-radius: 4px;	
	}
}

.aside-ads {
	text-align: center;
	margin-bottom: 40px;
}

.wdg-pop-post {
	margin-bottom: 40px;
	ul {
		li {
			display: block;
			border-bottom: 1px dotted #E7E8EA;
			padding-bottom: 7px;
			margin-bottom: 7px;

			a {
				color: $second-color;
			}

			&:hover {
				a {
					color: $color-blue;	
				}
				
			}
		}
	}
}

.fb-widget, .tweet-widget {
	margin-bottom: 40px;
}

/** aside left
===================================*/

.aside-lt {
	.inside {
		background-color: white;
		border: 1px solid #E7E8EA;
	}
}


.sidepage-nav {
	background-color: white;
	border: 1px solid #E7E8EA;
	border-radius: 5px;
	text-align: center;
	padding: 30px 20px;
	overflow: hidden;

	@media screen and (min-width: 62em) {
		padding: 30px;
	}
	
	ul {
		li {
			display: block;
			border-bottom: 1px dashed $color-light-grey;
			position: relative;
			text-align: left;

			&:last-child {
				border: none;
			}

			@media screen and (min-width: 62em) {
				margin: 0 auto;
				width: 72%;
			}

			a {
				display: inline-block;
				text-align: left !important;
				padding: 7px 0;
				margin-bottom: 5px;
			}

			&:before {
				content: '';
				position: absolute;
				left: -5px;
				top: 0;
				width: 2px;
				height: 0;
				background-color: $color-blue;
				transition: all 0.3s ease;

				@media screen and (min-width: 62em) { 
					left: -57px;
				}
			}

			a {
				display:  block;
				padding: 8px 5px;
				transition: all 0.3s linear;
				color: #D3D7DE;
			}

			&:hover,
			&:focus, 
			&:active,
			&.active {

				a {
					background-color: #FBFBFC;
					color: $color-blue;
					text-decoration: none;
					text-shadow: 0 0 .4px $color-blue, 0 0 .4px $color-blue;
				}

				&:before {
					height: 100%;
				}
			}
		}
	}
}

.aside-list-icon {
	ul {
		li {
			display: block;
			margin-bottom: 5px;
			position: relative;
			padding-left: 20px;
			a {
				color: $second-color;
				i {
					color: #578AE0;
					position: absolute;
					left: 0;
					top: 4px;
				}
			}
		}
	}
}

.social-color {
	li {
		display: inline-block;
		margin-right: 8px;
		margin-bottom: 8px;

		a {
			font-size: 23px;

			&.ion-social-facebook {
				color: #3270D8;
			}
			&.ion-social-twitter {
				color: #00ACED;
			}
			&.ion-social-googleplus {
				color: #FF2600;
			}
			&.ion-social-linkedin {
				color: #3F87E0;
			}

			&:hover {
				color: #3270D8;
			}
		}
	}
}

.laporkeun {
	margin-top: 30px;
	.ion-ios-flag {
			font-size: 18px;
		}
	a {
		color: $third-color;
		&:hover {
			color: $color-blue;
		}
	}
}