/** CHECKOUT 
===================================*/
.hero-checkout {
	text-align: center;
	margin-top: 30px;
	background-color: #FBFBFC;
	padding: 50px 25px;

	figure {
		margin-bottom: 20px;

		img {
			max-width: 100px;		
		}
	}

	.desc {
		h2 {
			margin: 0;
			font-size: 18px;
			line-height: 1.4em;
			margin-bottom: 5px;
			color: $second-color;
			font-weight: 800;
		}

		.prod-owner {
			font-size: 12px;
			span {
				display: inline-block;
				vertical-align: middle;

				&.ion-checkmark-circled{
					margin-left: 4px;
					font-size: 1.2em;
					color: $color-blue;
				}
			}
		}
	}
}


.checkout-block {
	background-color: #F3F4F6;
	padding: 50px 25px;
}

.sm-row-centered {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
}

.tb-summary{
	background-color: #ffffff;
	padding: 18px 25px;
	margin-bottom: 30px;
}

.tb-summary {
	margin-bottom: 50px;

	.table {
		td {
			border: none;

			&:last-child {
				text-align: right;
			}
		}

		&.tb-subtotal {
			margin-bottom: 0;
			border-top: 1px dashed #E7E8EA;
		}
	}

	.tb-subtotal-item {
		@media screen and (min-width: 48em) {
			font-size: 18px;
			font-weight: bold;
		}
		color: $color-blue;
		padding-top: 20px;	

		&:last-child {
			text-align: right;
		}
	}
}

.box-payment {
	background-color: #ffffff;
	padding: 10px 25px;
	margin-bottom: 30px;

	.sub-cxbox {
    	display: inline-block;
    	vertical-align: middle;
    	margin-left: 5px;
    	font-weight: 700;
        color: $second-color;
	}

	.desc-content {
		border-top: 1px dashed lighten($second-color, 10%);
		padding-top: 10px;
		margin-left: 20px;
		display: none;
	}
}

.btn-blue-full {
	background: none;
	border: none;
	font-size: 18px;
	background-color: $color-blue;
	color: white;
	text-align: center;
	width: 100%;
	border-radius: 3px;
	padding: 16px 25px;

	&:hover {
		background-color: #4E4662;
		color: white;
	}
}

.id-invoice {
	font-weight: 700;
	font-size: 18px;
	color: $color-blue;
	display: inline-block;
}

/** SUMMARY MANUAL
===================================*/
.summary-block {
	background-color: #ffffff;
	padding: 50px 50px;
}

.summary-wrap {
	background-color: #F3F4F6;
	padding: 80px 25px;
}

.billing-detail {
	text-align: center;
}

.billing-detail {
	margin-bottom: 50px;

	.bill-time-limit {
		display: block;
		color: $third-color;
		margin: 10px 0;
		font-size: 16px;
		font-weight: 700;
	}

	.billing-price {
		text-align: center;
		margin: 27px 0;

		span {
			display: inline-block;
			width: 100%;
			max-width: 300px;
			padding: 10px 20px;
			font-size: 25px;
			line-height: 1.3em;
			font-weight: 700;
			text-align: center;
			background-color: #D4D8DF;
			color: white;
			border-radius: 4px;

			@media screen and (min-width: 62em) {
				font-size: 30px;
				padding: 16px 25px;
			}
		}
	}

	.btn-grey {
		margin-top: 25px;
	}
}

.payment-acc {

	ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-ms-flex-pack: justify;
		justify-content: flex-start;
		-ms-flex-align: flex-start;
		align-items: center;
	}
	.payacc-item {
		padding: 0 20px;
		margin: 0 0 25px;
		flex-grow: 1;
		text-align: center;
		flex-basis: 100%;
		
		@media screen and (min-width: 62em) {
			&:first-child {
				padding-left: 0;
				padding-right: 0;
			}
		}

		@media screen and (min-width: 38em) {
			flex-basis: 50%;
			text-align: left;
		}

		@media screen and (min-width: 62em) {
			flex-basis: 25%;
		}

		figure {
			width: 100px;
			overflow: hidden;
			margin: 0 auto 20px;

			@media screen and (min-width: 38em) {
				margin: 0;
				margin-bottom: 48px;
			}
		}
	}

	.payacc-action {
		text-align: center;
		margin-top: 40px;

		.btn-blue {
			margin-top: 20px
		}
	}
}