@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
//font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Asap:400,700');
//font-family: 'Asap', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
//font-family: 'Open Sans', sans-serif;


