/** FOOTER
===================================*/
.footer {
	background-color: $third-color;
	overflow: hidden;
	padding: 20px 0;
}

.foo-top{
	padding-bottom: 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
}

.foo-bottom {
	padding: 20px 0 15px;
	text-align: center;
	border-top: 1px solid #666F7E;
}

.copyright {
	font-size: 12px;
	margin-bottom: 0;
}

.logo-foo{
	max-width: 158px;
  margin-bottom: 25px;
  padding-top: 10px;
	overflow: hidden;
}

.menu-foo {
	padding: 0 15px;
  margin-bottom: 10px;

	ul {
		li{
          display: inline-block;
          width: 100%;
          border-bottom: 1px solid #555d69;

          @media screen and (min-width: 48em) {
            width: 48%;
            padding-right: 10px;
            border: none;
          }

          @media screen and (min-width: 62em) {
            width: auto;
          }

          a {
              padding: 8px 10px;
              display: block;
              font-size: 14px;
              color: $second-color;
             

              span {
                display: inline-block;
                position: relative;

                 &:before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: 2px;
                    width: 0;
                    background-color: white;
                    @include prefixed(transition, all 0.3s linear);
                }
              }

              @media screen and (min-width: 800px) and (max-width: 1200px){
                padding-right: 10px;
                padding-left: 10px;
              }
            }

            &:hover > a {
              color: white;
              text-decoration: none;

              span {
                &:before {
                  width: 100%;
                }
              }
            }
        } 

	}
}

.social {
  margin: 10px 0;
	a {
		display: inline-block;
		color: $second-color;
		font-size: 18px;
		padding: 0 10px;
		transition: all 0.3s linear;

		&:hover {
			color: white;
		}
	}
}