body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.6em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}

ul {
	&.list-styled {
		list-style: disc;
		padding-left: 20px;

		li {
			list-style: disc
		}
	}
}
*:focus, *:active{
	outline: none;
}

a{
	@include prefixed(transition, all 0.3s linear);
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/** WRAPPER and For Responsive nav To work properly
===================================*/
.wrapper{
	width: 100%;
	position: relative;
/*	@include clearfix();*/
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.mask-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .15 );
		z-index: -1;
		opacity: 0;
		transition: all 350ms ease;
	}
	.wrapper-active{
		margin-right: -60%;
		float: right;
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
	.on-active-right{
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
}

/** SPACE
===================================*/
$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

/** FLEXWRAP
===================================*/
.flex {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
}

.flex .flex-item {
	/*flex-grow: 1;
      flex-basis: 30%;*/
}

/** BUTTON AND LINKS
===================================*/
.btn-blue {
	background: none;
	border: none;
	display: inline-block;
	background-color: #2FA2E8;
	color: white;
	padding: 6px 18px;
	font-size: 14px;
	text-align: center;
	@include prefixed(transition, all 0.3s linear);
	@include prefixed(border-radius, 5px);

	&:hover, &:active, &:focus {
		background-color: #3F3750;
		text-decoration: none;
		color: white;
	}

	&.full {
		width: 100%;
		padding: 8px 18px;
	}
}

.btn-upload {
	background: none;
	border: none;
	display: inline-block;
	background-color: #2FA2E8;
	color: white;
	padding: 12px 20px 14px;
	font-size: 14px;
	text-align: center;
	width: 100%;
	@include prefixed(transition, all 0.3s linear);
	@include prefixed(border-radius, 5px);

	&:hover, &:active, &:focus {
		background-color: #3F3750;
		text-decoration: none;
		color: white;
	}
}

.btn-white {
	background: none;
	border: none;
	display: inline-block;
	background-color: white;
	border: 1px solid #2FA2E8;
	color: #2FA2E8;
	padding: 5px 18px;
	font-size: 14px;
	text-align: center;
	@include prefixed(transition, all 0.3s linear);
	@include prefixed(border-radius, 5px);

	&:hover, &:active, &:focus {
		background-color: #3F3750;
		text-decoration: none;
		color: white;
		border-color: transparent;
	}

	&.full {
		width: 100%;
		padding: 8px 18px;
	}
}

.btn-grey {
	background: none;
	border: none;
	display: inline-block;
	background-color: #FBF9F9;
	border: 1px solid #EAEAEA;
	color: $third-color;
	padding: 5px 18px;
	font-size: 14px;
	text-align: center;
	@include prefixed(transition, all 0.3s linear);
	@include prefixed(border-radius, 5px);

	&:hover, &:active, &:focus {
		background-color: #FBF9F9;
		text-decoration: none;
		color: $color-blue-dark;
		border-color: darken(#EAEAEA, 20%);
	}

	&.full {
		width: 100%;
		padding: 6px 18px 8px;
	}
}

.btn-dark-grey {
		background: none;
	border: none;
	display: inline-block;
	background-color: #D3D7DE;
	color: white;
	padding: 5px 18px;
	font-size: 14px;
	text-align: center;
	@include prefixed(transition, all 0.3s linear);
	@include prefixed(border-radius, 5px);

	&:hover, &:active, &:focus {
		background-color: #D3D7DE;
		text-decoration: none;
		color: $color-blue-dark;
	}

	&.full {
		width: 100%;
		padding: 8px 18px;
	}
}

.btn-transparent {
	background: none;
	border: none;
	display: inline-block;
	background-color: transparent;
	border: 1px solid #2FA2E8;
	color: #2FA2E8;
	padding: 5px 18px;
	font-size: 14px;
	text-align: center;
	@include prefixed(transition, all 0.3s linear);
	@include prefixed(border-radius, 5px);

	&:hover, &:active, &:focus {
		background-color: white;
		text-decoration: none;
		color: #2FA2E8;
		border-color: #2FA2E8;
	}

	&.full {
		width: 100%;
		padding: 8px 18px;
	}
}
 
.link-blue {
	color: $color-blue;
	display: inline-block;

	&:hover {
		color: $third-color;
		text-decoration: underline;
	}
}

.text-blue {
	color : $color-blue-dark;
}

.text-darken {
	color : $third-color;
}

/** TITLE AND TEXT
===================================*/
.head-md-center {
	text-align: center;
	margin-bottom: 40px;

	h2 {
		margin: 0;
		margin-bottom: 5px;
		font-weight: 700;
		font-size: 28px;
		color: $third-color;
		line-height: 1.4em;

		@media screen and (min-width: 48em) {
			font-size: 30px;
		}

	}
}

.head-md-left {
	text-align: left;
	margin-bottom: 30px;
	border-bottom: 1px solid #E7E8EA;

	[class^="ti-"], [class*="ti-"] {
		color: #3270D8;
		font-size: 0.8em;
	}

	h2 {
		margin: 0;
		font-weight: 700;
		font-size: 28px;
		color: $third-color;
		line-height: 1.4em;

		@media screen and (min-width: 48em) {
			font-size: 30px;
		}
	}

	.small {
		font-style: italic;
		font-size: 12px;
		display: block;
	}

	&.space-line {
		padding-bottom: 15px;
	}
}

.head-sm-left {
	text-align: left;
	margin-bottom: 12px;
	padding-bottom: 12px;
	position: relative;

	[class^="ti-"], [class*="ti-"] {
		color: $color-mischa;
		font-size: 1em;
		margin-right: 5px;
	}

	h2 {
		margin: 0;
		font-weight: 700;
		font-size: 18px;
		color: $color-blue-dark;
		line-height: 1.4em;
	}

	.small {
		font-style: italic;
		font-size: 12px;
		display: block;
	}

	&.space-line {
		padding-bottom: 15px;
	}
}

.header-post {
	margin-bottom: 25px;
	h2 {
		margin: 0;
		font-weight: 700;
		font-size: 24px;
		color: $third-color;
		line-height: 1.4em;	
	}

	.meta-post-author {
		color: lighten($second-color, 20%);
		font-size: 0.9em;

		a {
			color: lighten($second-color, 20%);
			text-decoration: underline;

			&:hover {
				color: $color-blue;
			}
		}

		[class^="ion-"], [class*="ion-"] {
			color: $color-blue;
			font-size: 1.4em;
			margin-left: 3px;
			vertical-align: middle;
		}
	}
}


.title-xlg {
	text-align: center;
	margin: 0;
	font-size: 38px;
	color: $second-color;
	margin-bottom: 20px;
	font-weight: 700;

	@media screen and (min-width: 48em) {
		font-size: 48px;
	}
} 

.title-lg {
	text-align: center;
	margin: 0;
	font-size: 36px;
	color: $second-color;
	margin-bottom: 20px;
	font-weight: 700;
} 

.title-lg-lt {
	text-align: left;
	margin: 0;
	font-size: 36px;
	color: $second-color;
	margin-bottom: 20px;
	font-weight: 700;
} 

.title-xmd {
	margin: 0;
	font-size: 29px;
	color: $third-color;
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 1.3em;
}

.title-md {
	margin: 0;
	font-size: 24px;
	color: $third-color;
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 1.3em;
}

.title-sm {
	margin: 0;
	font-size: 18px;
	color: $third-color;
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 1.4em;
}

.title-xs {
	margin: 0;
	font-size: 16px;
	color: $third-color;
	margin-bottom: 15px;
	font-weight: 700;
}

.title-aside {
	margin: 0;
	font-size: 18px;
	color: $third-color;
	margin-bottom: 15px;
	font-weight: 700;
	line-height: 1.4em;
}

.text-blue {
	color: #3270D8;
}

.text-center {
	text-align: center;
}

.text-lightgrey {
	color: #D3D7DE;
}

.text-darkenblue {
	color: $color-blue-dark;
}

//LOOPING
$color-list-box: #53BBB4 #5CB860 #F9845B #838CC7 #39ADD1 #3079AB #E59A13;
@for $i from 1 through length($color-list-box) {
	.color-box-#{$i} {
		background-color: nth($color-list-box, $i);
	}
}

$color-font : #FFA500 #FF2828 #5CB860;
@for $i from 1 through length($color-font) {
	.color-#{$i} {
		color: nth($color-font, $i);
	}
}

.breadcrumb {
	margin-bottom: 0;
	span {
		font-style: italic;
	}
}

/** FORM STYLE
===================================*/

.select-wrap {
	position: relative;
	overflow: hidden;
	.customSelectInner, select.hasCustomSelect{
		width: 100% !important;
	}
}

.form-control.selectStyle {
	height: 34px;
	padding-right: 8px;
	padding-left: 8px;
	line-height: 1.4em;
	width: 100%;
}

select.hasCustomSelect {
	z-index: 100;
	width: 100%;
}

span.customSelect {
	text-align: left;
	color: darken(#D3D7DE, 15%);
	width: 100%;
	position: relative;

}
span.customSelect.changed {
	background-color: #f0dea4;
}
.customSelectInner {
	background: url('../img/customSelect.png') no-repeat center right;
	padding-right: 18px;
	word-wrap: normal;
	white-space: nowrap;
}

/** LAYOUT
===================================*/
.row-centered {
	width: 100%;
	max-width: 860px;
	padding: 0 15px;
	margin: 0 auto;

	@include clearfix();
}

.row-centered-lg {
	width: 100%;
	max-width: 1470px;
	padding: 0 15px;
	margin: 0 auto;

	@include clearfix();
}

.no-padding {
	padding: 0;
}

.box-white {
	background-color: white;
	padding: 18px 25px;
}

.content-left {
	margin-bottom: 30px;
}

.bg-grey {
	background-color: #F3F4F6;
}

.bg-white {
	background-color: white;
}

.third-color {
	color: $third-color;
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

/** TABLE
===================================*/
.tb-grey {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	overflow: hidden;
	
	tr {
		th {
			background-color: #D3D7DE;
			text-align: center;
			color: white;
			text-transform: uppercase;
			font-size: 14px;
		}

		td {
			text-align: center;
			background-color: #FBFBFC;
			color: #3270D8;
		}
	}
}

.ionmore-circle {
	border-radius: 9999px;
    display: inline-block;
    background-color: #FFA500;
    width: 14px;
    height: 14px;
    color: white;
    line-height: 1em;
    vertical-align: middle;
    text-align: center;
}

.input-group-addon {
	background-color: $second-color;
	color: white;
}

/** PAGINATION
===================================*/
.paginate-wrap {
	overflow: hidden;
	margin-top: 20px;

	.pagination {
		float: right;
	}
}
.pagination > li > a, .pagination > li > span {
	color: $second-color;
}


/** LIST
===================================*/
ul.list-styled-disc {
	margin: 0;
	padding: 0;
	margin-left: 20px;

	li {
		margin: 0;
		padding: 0;
		list-style: disc;
		padding-left: 10px;
	}
} 

ul.list-styled-line {
	margin: 0;
	padding: 0;
	margin-left: 20px;

	li {
		margin: 0;
		padding: 0;
		padding-left: 15px;
		list-style: none;
		position: relative;

		&:before {
			content: '-';
			display: inline-block;
			position: absolute;
			left: 0;
			top:0;
		}
	}
}

/** OVERFLOW
===================================*/
.overlay {
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(255, 255, 255, 0.8);
	transition: all .5s ease;
	@include square(100%);

	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;

	a {
		display: inline-block;
		width: 24px;
		height: 24px;
		line-height: 24px;
		color: $color-blue;
		text-align: center;
		vertical-align: top;
		background-color: white;
		margin: 0 5px;
		border-radius: 2px;
		transition:  all .3s linear;

		&:hover, &:focus, &:active, &.acitve {
			background-color: $color-blue;
			color: white;
			text-decoration: none;
		}
	}
}

/** Table Custom
===================================*/
.rTable {
  margin: 0 0 3em 0;
  padding: 0;

	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;

/*	 display: flex;
  flex-wrap: wrap;*/

    &.rTable-form {
  		.rTable-cell {
  			border: none;
  			padding: 8px;
  		}
 	}
}

.rTable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  // Default to full width
  padding: 0.7em 1.4em;
  overflow: hidden; // Or flex might break
  border-top: 1px dashed #E7E8EA;
  word-wrap: break-word;
  position: relative;

  &.is-striped {
  	@media screen and (min-width: 48em) {
  		background-color: #FBFBFC;
  	}
  }

  &.rTable-cell-head {
  	font-weight: 700;
  	background-color: #D3D7DE;
    padding: 0.7em 1.4em;
    color: white;
    border: none;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    vertical-align: middle;
  }

  &.rTable-cell-foot {
  	margin-bottom: 1em;

  	@media screen and (min-width: 48em) {
  		margin-bottom: 0;
  	}
  }
}

.rTable--2cols > .rTable-cell  { width: 50%; }
.rTable--3cols > .rTable-cell  { width: 33.33%; }
.rTable--4cols > .rTable-cell  { width: 25%; }
.rTable--5cols > .rTable-cell  { width: 20%; }
.rTable--6cols > .rTable-cell  { width: 16.6%; }


/* Responsive Table
==================================== */
@media all and (max-width: 48em) {
  .rTable--collapse  {
    display: block;
    > .rTable-cell { width: 100% !important; text-align: left !important; }
    > .rTable-cell--foot { margin-bottom: 1em; }
  }
}

// Non-Flex modernizer fallback
.no-flexbox .rTable {
  display: block;
  > .rTable-cell { width: 100%; }
  > .rTable-cell--foot { margin-bottom: 1em; }
}

.tb-myAcccount.rTable {
	background-color: white;

	@media screen and (min-width: 48em) {
		border-top-left-radius: 6px;
		overflow: hidden;
		border-top-right-radius: 6px;
	}
}








