/** HEADER
===================================*/

.header {
	background-color: #4E4662;
	padding: 15px 0;
	position: relative;
	z-index: 5;

	.flexs {
		@media screen and (min-width: 48em) {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
			-ms-flex-pack: justify;
			justify-content: center;
			-ms-flex-align: center;
			align-items: center;
		}

		@media screen and (min-width: 75em) {
			justify-content: space-between;
		}
	}
}

.logo {
	max-width: 158px;
	overflow: hidden;
}

.head-rt {
	margin-top: 30px;
	text-align: center;
	width: 100%;
	
	@media screen and (min-width: 50em) {
		text-align: left;
		width: auto;
	}

	@media screen and (min-width: 62em) {
		padding-left: 60px;
	}

	@media screen and (min-width: 75em) { 
		margin-top: 0;
	}
}

.search-btn {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	width: 30px;
	position: relative;

	@media screen and (min-width: 48em) {
		float: left;
		margin-right: 15px;
	}

	.btn-src {
		background: none;
		border: none;
		color: white;
		position: absolute;
		right: 2px;
		top: 0;
		cursor: pointer;
		text-align: center;

		width: auto;
		background-color: #3F3750;
		border-radius: 50%;
		height: 30px;
		width: 30px;
		border: none;

		&.active {
			background-color: #2FA2E8;
		}
	}
}

.usr-act {
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;	
	@media screen and (min-width: 48em) {
		float: left;
	}

	ul  {
		li {
			display: inline-block;
			a {
				display: inline-block;
				color: #84789E;
				font-size: 14px;
				line-height: 1.3em;
				padding: 0 10px;

				&:hover {
					color: white;
				}
			}

			&:first-child {
				a {
					border-right: 1px solid #84789E;
				} 
			}
		}
	}
}

.search-box {
	position: absolute;
	z-index: 999;
	top: 100%;
	left: 0;
	padding: 20px 0 13px;
	width: 100%;
	background-color: #FAFAFB;
	display: none;

	label {
		font-weight: 400
	}

	.form-control {
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border: 1px solid #c7c7c7;
	}

	.form-group.mainfield {
		margin-bottom: 20px;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-align: center;
		align-items: center;

		@media screen and (min-width: 42em) {
			display: -ms-flexbox;
			display: flex;
		}

		.btn-blue {
			max-width: 170px;
		}

		.form-control {
			display: inline-block;
			margin-bottom: 10px;
/*			width: 82%;*/
			height: 38px;
			margin-right: 15px;

			@media screen and (min-width: 42em) {
				margin-bottom: 0;
			}
		}
	}

	.input-group {
		margin-bottom: 15px;
	}
}