/** HERO
===================================*/

.hero {
	background-color: #4E4662;
	background-image: url('../img/bg-hero.jpg');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 14px;
	text-align: center;

	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;

	min-height: 400px;

	@media screen and (min-width: 48em) {
		min-height: 520px;
	}

	h1 {
		margin: 0;
		margin-bottom: 15px;
		font-family: 'Lato', sans-serif;
		font-size: 40px;
		line-height: 1.2em;
		font-weight: 300;
		@media screen and (min-width: 48em) {
			font-size: 48px;
		}
	}
}