/** HOMEPAGE
===================================*/

.prod-category {
	padding: 50px;
}

.prod-ct-wrap {
	text-align: center;
}

$box-icon-color: #53BBB4 !default;
.prod-ct-item {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: auto;
	padding: 0 15px;
	margin-bottom: 20px;
	position: relative;

	.icons {
		width: 127px;
		height: 124px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-ms-flex-pack: justify;
		justify-content: center;
		-ms-flex-align: center;
		align-items: center;
		color: white;
		font-size: 48px;
		@include prefixed(border-radius, 25px);
	}

	a {
		color: $second-color;

		&:hover {
			text-decoration: none;
		}
	}
}

/*====== BEST ITEM ======*/

.prod-best {
	background-color: #FAFAFB;
	padding: 50px 0;

	.btn-blue {
		margin-top: 40px;
	}
}

.best-item {
	@include make-row();
	padding-top: 30px;

	article {
		@include make-sm-column(6);
		@include make-md-column(3);
		float: none !important;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin-bottom: 30px;
		transition: all 0.3s linear;

		&:hover {
			.inner {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			}
		}

		@media screen and (min-width: 38em) {
			width: 48%;
		}

		@media screen and (min-width: 62em) {
			width: 24%;
		}

		.inner {
			display: inline-block;
			text-align: left;
			position: relative;
			overflow: hidden;
			border-radius: 8px;
			background-color: white;
			transition: all 0.3s linear;
		}

		figure {
			text-align: center;
			position: relative;
			overflow: hidden;
		}

		.desc {
			padding: 25px 20px;
			background-color: white;
			line-height: 1.4em;
			font-size: 14px;

			header {
				margin-bottom: 15px;
			}
		}

		h4 {
			margin: 0;
			font-weight: normal;
			color: $third-color;
			line-height: 1.3em;
			margin-bottom: 3px;
		}

		.ct-prod {
			a {
				color: lighten($second-color, 10%);
				display: inline-block;
				padding: 0 8px;
				font-size: 0.9em;
				line-height: 1.3em;

				&:first-child {
					padding-left: 0;
					border-right: 1px solid lighten($second-color, 10%);
				}
			}

			[class^="ion-"], [class*="ion-"] {
				color: #2FA2E8;
			}
		}

		.days, .price {
			display: inline-block;
			width: 48%;
			padding-right: 10px;
		}
		.price {
			padding-right: 0;
			padding-left: 10px;
			text-align: right;
		}

		&:hover {
			.overlay {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

/** AUCTIONS
===================================*/
.auctions {
	padding : 50px 0;
}

.auction-col {
	@include make-sm-column(6);
	margin-bottom: 30px;
}

.tb-auctions {
	font-size: 0.9em;

	tr > td {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		border: none;
		border-top: none !important;
		border-bottom: 1px solid #E7E8EA;
		&.price {
			text-align: right;
			color: #2FA2E8;
		}

		&:first-child {
			padding-left: 0 !important
		}


	}

	tr:last-child td {
			border: none !important;
	}

	h5 {
		margin: 0;
		margin-bottom: 10px;
		color: $second-color;
		line-height: 1.4em;
		font-weight: 700;

		a {
			color: $third-color;
			&:hover {
				color: #2FA2E8;
			}
		}
	}

	.seller {
		font-size: 12px; 
		color: lighten($third-color, 10%);
		display: block;

		.ion-checkmark-circled {color: #2FA2E8; margin-left: 3px;}
	}

	.tb-auc-date {

		span {
			display: block;
		}
	}
}

.table-responsive {
	@media screen and (max-width: 48em) {
		padding: 15px;
	}
}

/** ROW COUNTER
===================================*/

.row-counter {
	background-color: #FBFBFC;
	padding: 50px 0;

	.container {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-align: center;
		align-items: center;
	}
}

.counter-item {
	text-align: center;

	@media screen and (max-width: 48em) {
		flex-basis: 50%;
		padding-bottom: 30px;
	}

	h5 {
		margin: 0;
		margin-bottom: 4px;
		font-weight: 700;
		font-size: 25px;
		color: $third-color;

		@media screen and (min-width: 62em) {
			font-size: 36px;
		}
	}
}