/** LIST PRODUCT
===================================*/
.head-listing {
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;

	.head-md-left {
		border-bottom: none;
	}

	@media screen and (min-width: 48em) {
			display: -ms-flexbox;
			display: flex;
	}
}

.filter-list {
	text-align: center;
	@media screen and (min-width: 48em) {
		text-align: right;
	}

	ul {
		li {
			display: inline-block;
			vertical-align: middle;
			overflow: hidden;
			font-size: 14px;	
			margin-bottom: 15px;
			margin-left: 20px;

			@media screen and (min-width: 62em) {
				padding-left: 20px;
				margin-left: 0;
			}

			.filter-label {
				margin-bottom: 10px;
				vertical-align: middle;

				@media screen and (min-width: 62em) {
					float: left;
					display: inline-block;
					margin: 0;
					margin-right: 12px;
					padding-top: 5px;
				} 
			}

			.filter-item {
				overflow: hidden;

				&.last {
					select.form-control {
						min-width: 170px;
					}
				}
			}
		}
	}
}

.tb-product {
	.table {
		tr {
			th {
				background-color: #D3D7DE;
				text-transform: uppercase;
				color: white;
				border-top: none;

				@media screen and (min-width: 62em) {
					padding-top: 15px;
					padding-bottom: 15px;
					padding-left: 15px;
					padding-right: 15px;
				}
				
				&:first-child {
					border-top-left-radius: 8px;
				}
				&:last-child {
					border-top-right-radius: 8px;
				}
			}

			td {
				padding-top: 20px;
				padding-bottom: 20px;
				word-wrap: break-word;

				@media screen and (min-width: 62em) {	
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}

	.prod-thumb {
		max-width: 80px;
		height: auto;
		border-radius: 8px;
		overflow: hidden;
		float: left;
		margin-right: 15px;

		img {
			border-radius: 8px;
		}
	}

	.prod-desc {
		overflow: hidden;

		h5 {
			font-weight: 700;
			font-size: 16px;
			color: $third-color;
			margin: 0;
			margin-bottom: 8px;
			line-height: 1.4em;

			a {
				color: $third-color;
			}

			&:hover {
				a {
					color: $color-blue;
				}
			}
		}

		.prod-seller {
			display: block;
			font-size: 12px;
			color: lighten($second-color, 10%);
			margin-bottom: 8px;
		}

		.user-rate {
			display: inline-block;
			padding: 2px 8px;
			border: 1px solid #E7E8EA;
			vertical-align: middle;
			border-radius: 5px;

			span {
				display: inline-block;
				padding: 0 3px;
				vertical-align: middle;
				color: $second-color;
				position: relative;
				cursor: pointer;

				&.choose {
					color: $color-blue;
				}

				&:first-child {
					top: -1px;
				}


				&:hover {
					text-decoration: none;
				}
			}
		}
	}


	.prod-status {
			[class*="ion-"], [class^="ion-"] {

			}

			.ion-more {
				border-radius: 9999px;
				display: inline-block;
				background-color: #FFA500;
				width: 14px;
				height: 14px;
				color: white;
				line-height: 1em;
				vertical-align: middle;
				text-align: center;
			}
		}

	&.rTable {
		.rTable-cell {
			width: auto;
		}
	}
}

.st-pending {
	@extend .color-1;
}

.st-close {
	@extend .color-2;
}

.st-jual {
	@extend .color-3;
}