/** MODAL GALLERY
===================================*/

.modal-buttons {
	text-align: center;
	height: 100vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;

	a {
		margin: 0 10px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 98%;
  padding: 20px 15px;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  max-height: 500px;
  overflow: scroll;
  box-shadow: 0 3px 9px rgba(101, 101, 101, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;

  @media screen and (min-width: 48em) {
  	padding: 25px 30px;
  }
 
  .modal-close {
  	display: inline-block;
  	color: #D3D7DE;
  	font-size: 30px;
  	position: absolute;
  	top: -10px;
  	right: -10px;
  	transition: all 0.3s linear;

  	&:hover, &:active, &.active, &:focus {
  		color: $third-color;
  		text-decoration: none;
  	}
  }

  .modal-head {
  		position: relative;
  		padding: 30px 0 15px;
  		figure {
  			text-align: center;
  		}
  }
  
  .modal-body {
  	max-width: 600px;
  	margin-right: auto;
  	margin-left: auto;
    padding: 2em 0;
  }

   .actions {
    	text-align: center;
    }

  .header-post {
  	h2 {
  		margin-bottom: 8px;
  	}
  }
  
  .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
  }
}

@media (min-width: 35em) {
  .modal-box {
    width: 70%;
  }
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity = 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

.f-reporting {
	margin: 30px auto 0;
  text-align: left;
  max-width: 600px;
  text-align: left;

	.form-control {
		height: 38px;
    display: block;
	}

	textarea.form-control {
		height: auto;
	}

	.actions {
		margin-top: 30px;
	}
}