/** MY account mutation
===================================*/
.tb-curr-balance {
	color:  $color-blue-dark;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 25px;

}


.tb-row-action {
	margin-bottom: 5px;
	@include overflow();

	[class^="btn-"], [class*="btn-"]{
		font-size: 12px;
		margin-right: 5px;
		margin-bottom: 15px;
	}

	.on-left {
		margin-bottom: 15px;
		@media screen and (min-width: 62em) {
			float: left;
		}
	}

	.on-right {
		margin-bottom: 15px;
		@media screen and (min-width: 62em) {
			float: right;
			text-align: right;
		}

		.form-group {
			display: inline-block;
			width: auto;
			&:first-child {
				margin-right: 5px;
			}
		}

		.selectStyle {
			display: inline-block;
			width: auto;
		}
	}
}

.tb-white-box {
	background-color: white;
	@include overflow();
	padding: 30px 20px;
	border-radius: 5px;

	@media screen and (min-width: 48em) {
		padding: 35px 30px;
	}
}

.btn-add-acc {
	margin: 20px 0;
	@media screen and (min-width: 48em) {
		position: absolute;
		top: 0;
		right: 0;
		margin-left: 10px;

	}
}

/*Table information */
.tb-info {
	.table {
		tr {
			th {
				border: none;
			}

			td {
				border: none;


				&:first-child {
					width: 22%;
				}
			}
		}
	}
}

.tb-detailprice {
	.table {
		tr {
			td {
				border: none;
				&:last-child {
					text-align: right;
				}
			}
		}
	}
}

.table-subtotal {
	&.table {
		tr {
			td {
				font-size: 18px;
			}
		}
	}
	font-size: 18px;
}

.box-sendto {
	margin-top: -5px;
	background-color: $color-mischa;
	@include overflow();
	padding: 30px 20px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: white;

	@media screen and (min-width: 48em) {
		padding: 35px 30px;
	}
}

.tb-dtl-buyer {
	&.table {
		tr {
			td {
				border: none;

				&:first-child {
					padding-left: 0;
				}
			}
		}
	}
}

.step-transaction {
	margin: 30px 0;
	ul {
		li {
			display: inline-block;
			vertical-align: middle;

			span {
				display: inline-block;
				padding: 10px 45px;
				text-align: center;
				border: 1px solid $color-mischa;
				border-radius: 4px;
			}

			img {
				max-width: 65px;
			}
		}
	}
}

.status-transaction {
	
}