/** MY ACCOUNT
===================================*/

.title-md-dashb {
	margin: 0;
	font-weight: 700;
	font-size: 16px;
	color: $third-color;
	text-transform: uppercase;
	padding: 15px 0;
	margin-bottom: 22px;
}

.tabs_wrapper .tab_content{
	display: none;
}

.column-side {
	background-color: white;
	padding: 30px 25px;
	border-radius: 10px;

	.centered {
		@media screen and (min-width: 62em) {
			width: 70%;
			margin: 0 auto;
		}
	}
}

.side-user-profile {
	text-align: center;
	margin-bottom: 30px;

	figure {
		width: 93px;
		overflow: hidden;
		text-align: center;
		margin: 0 auto 15px;
		border-radius: 9999px;

		img {
			width: 93px;
			border-radius: 9999px;
		}
	}

	.user-name {
		color: $third-color;
		font-weight: 700;
		display: block;
	}

	.user-social {
		margin-bottom: 13px;
		a {
			font-size: 1.2em;
			color: #D3D7DE;
			display: inline-block;
			padding: 0 3px;
			transition: all 0.3s linear;

			&:hover {
				color: $color-blue;
			}
		}
	}
}

.app-nav {
	ul {
		li {
			display: block;
			border-bottom: 1px dashed $color-light-grey;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: -5px;
				top: 0;
				width: 2px;
				height: 0;
				background-color: $color-blue;
				transition: all 0.3s ease;

				@media screen and (min-width: 62em) { 
					left: -57px;
				}
			}

			a {
				display:  block;
				padding: 8px 5px;
				transition: all 0.3s linear;
				color: #D3D7DE;
			}

			&:hover,
			&:focus, 
			&:active,
			&.active {

				a {
					background-color: #FBFBFC;
					color: $color-blue;
					text-decoration: none;
					text-shadow: 0 0 .4px $color-blue, 0 0 .4px $color-blue;
				}

				&:before {
					height: 100%;
				}
			}
		}
	}
}

.dashboard-content {
	@media screen and (max-width: 48em) {
		display: block;
	}

	&.flex {
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.box-control {
	flex-basis: 100%;
	margin: 0 0 30px;
    @media screen and (min-width: 62em) {
		flex-basis: 46%;
		margin: 0 15px 30px;
    }

	.tb-account {
		background-color: white;
		padding: 20px 20px;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	header {
		background-color: #D3D7DE;
		padding: 18px 18px;
		color: white;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;

		h4 {
			margin: 0;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;

			span {
				margin-right: 5px;
			}
		}
	}

	.row-action {
		text-align: right;
		margin-bottom: 5px;

		[class^="btn-"], [class*="btn-"]{
			font-size: 12px;
		}
	}
}

.tb-myAcccount {
	.table {
		tr {
			td {
				border: none;
				border-bottom: 1px dashed $color-light-grey;
				padding: 13px 20px;
				background-color: white;
				font-size: 13px;
				word-wrap: break-word;
			}

			th {
				background-color: #D3D7DE;
				padding: 18px 20px;
				color: white;
				border: none;
				text-transform: uppercase;
				color: white;
				font-size: 13px;
				vertical-align: middle;

				&:first-child {
					border-top-left-radius: 6px;
				}

				&:last-child {
					border-top-right-radius: 6px;
				}
			}


			&:nth-child(odd) {
			  	td {
			  		 background-color: #FBFBFC;
			  	}
			}
		}
	}

	.tb-sm-thumb {
		float: left;
		max-width: 50px;
		overflow: hidden;
		margin-right: 15px;

		img {
			max-width: 50px;
		}
	}

	.tb-sm-thumb-desc {
		overflow: hidden;
	}

	.btn-grey {
		font-size: 13px;
		padding-left: 11px;
		padding-right: 11px;
	}
}

.tb-dashboard {
	.table {
		tr {
			td {
				border: none;
				border-bottom: 1px dashed $color-light-grey;
				padding: 13px 8px;
			}
		}
	}
}

/** tabs-nav
===================================*/
.tabs-nav {
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: flex-start;
	-ms-flex-align: top;
	align-items: top;
	border-bottom: 1px solid $color-light-grey;
	margin-bottom: 25px;
	background-color: #f1f1f1;
	padding: 8px;

	@media screen and (min-width: 42em) {
		display: -ms-flexbox;
		display: flex;
	}

	li {
		cursor: pointer;
		@media screen and (min-width: 42em){
			padding: 0 15px 0;
		}

		&:first-child {
			padding-left: 0;
		}

		span {
			position: relative;
			padding: 8px 0 15px;
			color: $third-color;
			display: block;

			&:before {
				content: '';
				width: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				height: 2px;
				background-color: $color-blue;
				transition:  all 0.3s ease;
			}

			@media screen and (min-width: 42em) {
				display: inline-block;
			}
		}

		&.active, &:hover, &:focus, &:active{
			span {
				&:before {
					width: 100%;
				}
			}
		}
	}
}

.row-tb-filter {
	margin-bottom: 12px;

	&:before, &:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}

	.form-group {
		position: relative;
		@media screen and (min-width: 40em) {
			float: left;
		}

		.ion-ios-search {
			position: absolute;
			right: 8px;
			top: 5px;
			font-size: 1.8em;
		}
	}

	.form-control {
		border: none;
	}

	.tb-filter-src {
		font-style: italic;
		min-width: 280px;

		.form-control {
			padding-right: 38px;
		}

		@media screen and (min-width: 48em) {
			margin-right: 10px;
		}
	}
}

.input-group-icon {
	position: relative;
	display: inline-block;
	margin-right: 5px;

	.iconx {
		position: absolute;
		right: 10px;
		top: 0;
		font-size: 1.8em;
	}
}

.html5fileupload {
	min-height: 240px;
	background-color: white;
	border: 1px solid #E7E8EA;
	border-radius: 5px;
	position: relative;

	&:after {
		content: 'Pilih Gambar atau tarik gambar dari komputer anda';
		font-size: 14px;
		padding-top: 12%;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
		top: 50%;
		margin-top: -120px;
	}
}

/*====== DRAG FILE ======*/

#filedrag
{
	display: none;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	border: 1px solid #E7E8EA;
	border-radius: 7px;
	cursor: default;
	height: 200px;
	border-radius: 5px;
	position: relative;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border: 1px solid #E7E8EA;
	box-shadow: inset 0 3px 4px #888;
} 

#filedrag span {
	display: block;
	margin-top: 50px;
	color: #D3D7DE;
}

/*SWITCH BUTTON*/
.onoffswitch {
    position: relative; width: 104px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #2FA2E8; border-radius: 5px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 13px; color: white; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Aktif";
    padding-left: 10px;
    background-color: #ffffff; color: #2FA2E8;
}
.onoffswitch-inner:after {
    content: "Nonaktif";
    padding-right: 10px;
    background-color: #f3f4f6; color: #2FA2E8;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 3.5px;
    background: #2FA2E8;
    position: absolute; top: 0; bottom: 0;
    right: 70px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

