/** MAIN NAV
===================================*/
  .nav{
    display: none;
    text-align: center;   
    @media screen and (min-width: 50em) {
      display: block;
    }

    ul {
       zoom:1;
       width: 100%;
       /*height:51px;*/
       list-style:none;
       margin:0;
       padding:0;

        li{
            display: inline-block;
            a {
                padding: 8px 18px;
                display: block;
                font-size: 15px;
                color: white;
               

                span {
                  display: inline-block;
                  position: relative;

                   &:before {
                      content: '';
                      position: absolute;
                      bottom: -18px;
                      left: 0;
                      right: 0;
                      margin: auto;
                      height: 2px;
                      width: 0;
                      background-color: white;
                      @include prefixed(transition, all 0.3s linear);
                  }
                }

                @media screen and (min-width: 800px) and (max-width: 1200px){
                  padding-right: 10px;
                  padding-left: 10px;
                }
              }

              &:hover > a {
                color: white;
                text-decoration: none;

                span {
                  &:before {
                    width: 100%;
                  }
                }
              }

              ul {
                height:auto;
                border:0;
                position:absolute;
                max-width: 250px;
                z-index:80;
                display:none;
                margin:0;
                padding:0;
                background: #1b6097;

                  a  {
                      padding: 10px;
                      _height: 10px; /*IE6 only*/
                      display: block;
                      float: none;
                      text-transform: none;
                      font-size: 0.8em;

                      &:hover {
                          background-color: #0C5996;
                          color:#fff;
                        }
                    }
              } 

              li {
                float: none;
                display: block;
                border: 0;
                border-bottom:1px solid #2771AD;
                text-align: left;

                &:last-child {
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                  }
              }
          } 
      }
  }

  /*arrow*/
  .nav ul ul li:first-child > a {
     /*@include border-radius(8px 8px 0 0)*/
  }
  .nav ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
  }

   /*====== HUMBERBER BUTTON ======*/
.btn-rwd-sidebar {
  display: block;
  margin-top: 0;
  float: right;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #50555a;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  @media screen and (min-width: 50em) {
    display: none;
  }
}

/*====== RESPONSIVE MENU ======*/

.btn-mobileNav {
  display: block;
  margin-top: 0;
  float: right;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #272133;
  color: white;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;

  @media screen and (min-width: 50em) {
    display: none;
  }
}

.close-sidebar {
  text-align: right;
  margin-bottom: 30px;
}

.mobile-nav {
  z-index: 9999;
  width: 60%;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  background-color: #272133;
  color: white;
  animation-duration: 0.8s;
  margin-left: -100%;

  &.show {
    margin-left: 0;
  }

  ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    margin-top: 15px;

    li {
      position: relative;

      .fa {
        position: absolute;
        right: 15px;
        top: 0.2em;
        font-size: 1.3em;
        color: white;
      }

      a, span {
        font-size: 0.9em;
        text-transform: capitalize;
        padding: 8px 15px;
        display: block;
        font-weight: 600;
        padding-left: 13px;
        color: white;
        line-height: 1.4em;
      }
      a {
        &:hover,
        &:focus {
          color: white;
          background-color: #313131;
          text-decoration: none;
        }
      }
    }

    ul.sub-menuNav {
      margin: 0;
      display: block;
      visibility: visible;
      margin-bottom: 20px;
      margin-left: 20px;
      display: none;
    }
  }

  ul.sub-menuNav {
    li {
      position: relative;
      a {
        padding-left: 13px;
      }
    }
  }

  .btn-hide {
    margin-left: 30px;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    background-color: #373145;
    color: white;
    box-shadow: inset 0 0 0 2px #373145;

    &:hover,
    &:focus {
      background-color: transparent;
      color: #c1c1c1;
    }
  }
}

.nav-shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}