/** NEWS
===================================*/
.news-feature {
	margin-bottom: 35px;
	box-shadow: 0 0 8px #EAEBED;
	overflow: hidden;
	border-radius: 3px;
	transition: all .3s linear;

	&:hover {
		box-shadow: 0 0 20px #EAEBED;
	}

	figure {
		text-align: center;
		margin-bottom: 10px;
	}

	.desc {
		padding: 20px 25px;
	}

	h4 {
		margin: 0;
		font-weight: 700;
		font-size: 24px;
		color: $third-color;
		line-height: 1.4em;	
		margin-bottom: 15px;

		a {
			color: $third-color;
		}

		&:hover {
			color: $color-blue;

			a {
				color: $color-blue;
				text-decoration: none;
			}
		}
	}
}


.meta-tag {
	margin-top: 18px;

	a, span {
		color:  $second-color;
		margin-right: 8px;
		transition: all .3s linear;
	}

	a {
		&:hover {
			color: $color-blue;
		}
	}
}


.news-post {
	display: inline-block;
	width: 100%;
	margin: 0 10px 30px;
	vertical-align: top;
	

	.inside {
		box-shadow: 0 0 8px #EAEBED;
		overflow: hidden;
		border-radius: 3px;
		transition: all .3s ease;

		&:hover {
			box-shadow: 0 0 20px #EAEBED;
		}
	}

	@media screen and (min-width: 35em) {
		width: 47%;
	}

	.thumb {
		margin-bottom: 10px;
		position: relative;
		overflow: hidden;
	}

	.desc {
		padding: 18px;
	}

	.title-sm {
		color: $third-color;
		a {
			color: $third-color;
		}

		&:hover	 {
			a {
				color: $color-blue;
			}
		}
	}

	&:hover {
		.overlay {
			opacity: 1;
			visibility: visible;
		}
	}
}

.post-detail {
	.post-head {
		margin-bottom: 20px;
		
		.title-md {
			margin-bottom: 6px;
		}

		.meta-tag {
			margin-top: 0;
		}
	}
}

$social_color : 
		(ss-fb, #3b5998),
		(ss-tw, #0083be),
		(ss-goo, #da472e),
		(ss-pinter, #C92228),
		(ss-linkd, #0083be);
@each $ssName , $ssName-val in $social_color {
	.#{$ssName}{
		background-color: $ssName-val;

		span {
			background-color: darken($ssName-val, 10%)
		}
	}
}

.social-share {
	margin: 30px 0 20px;
	a {
		display: inline-block;
		vertical-align: top;
		color: white;
		margin-right: 8px;
		margin-bottom: 10px;
		padding-right: 20px;
		overflow: hidden;
		border-radius: 3px;
		transition: all 0.2s ease;

		&:hover {
			text-decoration: none;
			opacity: 0.7
		}

		span {
			display: inline-block;
			height: 25px;
			width: 30px;
			text-align: center;
			line-height: 24px;
			margin-right: 8px;
		}
	}
}

.related-post {
	border-top: 1px solid #E7E8EA;
	padding-top: 30px;
	margin-top: 30px;
	ul {
		li {
			width: 100%;
			margin-bottom: 25px;
			vertical-align: top;

			@media screen and (min-width: 62em) {
				width: 44%;
				display: inline-block;
				margin-right: 30px;
				margin-bottom: 25px;
			}

			.title-sm {
				color: $second-color;
				a {
					color: $second-color;
				}

				&:hover {
						a {
							color: $color-blue;
						}
					}
			}
		}
	}
}