/** REGISTER
===================================*/
.register-wrap {
	height: 100vh;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;

	.action {
		a {
			min-width: 120px;
			margin: 0 5px;
		}
	}
}

/** ERROR
===================================*/
.thumb-error {
	margin-bottom: 30px;
}