.seller-head {
	overflow: hidden;
	background-color: #f5f5f5;
		padding: 25px;
	padding-bottom: 25px;
	margin-bottom: 30px;

	.container {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-align: center;
		align-items: center;
	}

}

.seller-profile {
	overflow: hidden;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: flex-start;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 40px;
	text-align: center;
	width: 100%;

	@media screen and (min-width: 62em) {
		text-align: left;
		margin-bottom: 20px;
	}	
	@media screen and (min-width: 68em) {
		width: auto;
	}
	
	figure {
		width: 100px;
		overflow: hidden;
		border-radius: 9999px;
		margin: 0 auto 25px;

		@media screen and (min-width: 48em) { 
			float: left;
			margin: 0;
			margin-right: 20px;
		}
		img {
			border-radius: 9999px;
		}
	}

	.desc  {
		overflow: hidden;

		.name {
			color: $third-color;
			font-weight: bold;
			font-size: 25px;
			display: block;
			margin-bottom: 10px;
		}
	}
}

.seller-col {
	margin-bottom: 20px;
	@media screen and (min-width: 68em) {
		text-align: right;
		padding-right: 10px;
		padding-left: 10px;
	}
	h6 {
		margin: 0;
		margin-bottom: 10px;
		color: #9199A8;
		font-size: 14px;
	}

	strong {
		font-size: 16px;
		color: $third-color;
	}
}