/** SINGLE
===================================*/
.comments {
	background-color: #FBFBFC;
	padding: 28px;
	border-radius: 4px;
	overflow: hidden;
}

.comment-head {
	border-bottom: 1px solid #E7E8EA;
	margin-bottom: 20px;

	[class^="ti-"], [class*="ti-"] {
		color: #3270D8;
		font-size: 0.8em;
		margin-right: 5px;
		vertical-align:	 middle;
	}
}

.respond {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px dashed $color-light-grey;

	&:first-child {
		border: none;
	}

	.respond-left {
		float: left;
		margin-right: 25px;

		img {
			border-radius: 9999px;
			width: 65px;
		}
	}

	.respond-body {
		@media screen and (min-width: 40em) {
			overflow: hidden;
		}
	}

	.respond-heading {
		margin-bottom: 15px;
		overflow: hidden;

		h4 {
			margin : 0;
			color: $third-color;
			font-weight: 700;
			font-size: 16px;
			display: inline-block;
		}
	}

	.respond-action {
		.respond-action-rt {
			display: inline-block;
			margin-left: 20px;
			vertical-align: top;

			a {
				display: inline-block;
				color: $text-color;

				&:first-child {
					margin-right: 10px;
				}

				&:hover {
					color: $color-blue;
				}
			}
		}
		@media screen and (min-width: 48em) {
			float: right;

			.respond-action-rt {
				margin-left: 60px;
				font-size: 1.4em;
			}
		}
	}
}

.link-see-all {
	text-align: right;
	margin: 25px 0;

	a {
		display: inline-block;
		font-size: 14px;
		color: $color-blue;

		&:hover {
			text-decoration: underline;
		}
	}
}

.comment-form {
	margin: 50px  0 20px;
}
.f-comment {
	textarea {
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.btn-blue {
		float: right;
	}
}