/** THANKS
===================================*/

.thanks-row {
	min-height: 550px;
	height: 100vh;
	text-align: center;
	
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}


.icon-thanks {
	text-align: center;
	font-size: 45px;
	color: white;
	width: 100px;
	height: 100px;
	margin: 0 auto 30px;
	line-height: 100px;
	background-image: url('../img/zigzag-circle.png');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100px;
}

.thanks-desc {
	h2 {
		margin: 0;
		font-size: 24px;
		font-weight: 700;
		color: $third-color;
		margin-bottom: 10px;
	}

	.thanks-action {
		margin-top: 40px;

		a {
			margin: 0 5px;
		}
	}
}