		<footer class="footer">
			<div class="container">
				<div class="foo-top">
					<div class="logo-foo">
						<a href="#">
							<img src="./assets/img/logo.png" alt="">
						</a>
					</div>

					<div class="menu-foo">
						<ul>
							<li>
								<a href="#"><span>About us</span></a>
							</li>
							<li>
								<a href="#"><span>News</span></a>
							</li>
							<li>
								<a href="#"><span>Karir</span></a>
							</li>
							<li>
								<a href="#"><span>Testimonial</span></a>
							</li>
							<li>
								<a href="#"><span>Legalitas</span></a>
							</li>
							<li>
								<a href="#"><span>Customer Service</span></a>
							</li>
							<li>
								<a href="#"><span>Privacy Policy</span></a>
							</li>
							<li>
								<a href="#"><span>Term & Condition</span></a>
							</li>
						</ul>
					</div>

					<div class="social">
						<a href="#" class="ion-social-facebook"></a>
						<a href="#" class="ion-social-twitter"></a>
						<a href="#" class="ion-social-google"></a>
					</div>
				</div> <!-- //foo-top --> 
			</div>

			<div class="foo-bottom">
				<div class="container">
					<p class="copyright">Copyright © 2016adslelang.id. All Rights Reserved.</p>
				</div>
			</div>
		</footer>
		
		<script src="assets/js/libs.min.js"></script>
		<script src="assets/js/vendor/jquery.customSelect.min.js"></script>
		<script src="assets/js/vendor/tipr.min.js"></script>
		<script src="assets/js/global.js"></script>
		<script src="assets/js/sweetalert-init.js"></script>
  </body>
</html>