    <div id="mobileNav" class="mobile-nav">
      <div class="close-sidebar">
        <a href="#" class="btn-hide">
          <i class="ti-close"></i>
        </a>
      </div>
    </div>
    <div class="nav-shadow js-nav-shadow"></div>
    
    <header class="header">
        <div class="container flexs">
            <a href="#" class="btn-mobileNav js-btn-mobileNav">
                <i class="ti-menu"></i>
            </a>
            <div class="logo">
                <a href="#">
                    <img src="./assets/img/logo.png" alt="">
                </a>
            </div>

            <nav class="nav">
                <ul class="mainMenu">
                    <li>
                      <a href="#" class="active"><span>Konten</span></a>
                    </li>
                    <li>
                      <a href="#"><span>Website</span></a>
                    </li>
                    <li>
                      <a href="#"><span>Domain</span></a>
                    </li>
                    <li>
                      <a href="#"><span>Service</span></a>
                    </li>
                    <li>
                      <a href="#"><span>Hosting</span></a>
                    </li>
                    <li>
                      <a href="#"><span>Themes</span></a>
                    </li>
                    <li>
                      <a href="#"><span>Apps</span></a>
                    </li>
                </ul>
            </nav>

            <div class="head-rt">
                <div class="search-btn">
                    <button class="btn-src"><i class="ion-android-search"></i></button>
                </div>

                <div class="usr-act">
                    <ul>
                        <li>
                            <a href="#">Login</a>
                        </li>
                        <li>
                            <a href="#">Sign Up</a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="btn-blue">Mulai Jualan</a>
            </div>
        </div>
        <div class="search-box animated">
              <div class="container">
                  <form>
                    <div class="form-group mainfield">
                        <input type="text" class="form-control" placeholder="Search across title, URL, description and category">
                        <input type="submit" value="search" class="btn-blue full">
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="">Kisaran harga</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                      <span class="input-group-addon" id="sizing-addon2">Rp</span>
                                      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-group">
                                      <span class="input-group-addon" id="sizing-addon2">Rp</span>
                                      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                                    </div>  
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Durasi Waktu</label>
                                    <select class="form-control selectStyle">
                                        <option>100</option>
                                        <option>200</option>
                                        <option>3 Ratus</option>
                                        <option>4 Rakus</option>
                                        <option>5 Rusuk</option>
                                    </select>
                                </div>

                                 <div class="form-group col-md-4">
                                    <label>Status Produk</label>
                                    <select class="form-control selectStyle">
                                        <option>100</option>
                                        <option>200</option>
                                        <option>3 Ratus</option>
                                        <option>4 Rakus</option>
                                        <option>5 Rusuk</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Tipe Penjualan   </label>
                                    <select class="form-control selectStyle">
                                        <option>100</option>
                                        <option>200</option>
                                        <option>3 Ratus</option>
                                        <option>4 Rakus</option>
                                        <option>5 Rusuk</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                  </form>
              </div>
        </div> <!-- search-box -->
    </header> <!-- //header -->
