
/**
 * Variables and Bootstrap overrides
 */

// Colors
//...............

$color-red				: #e51a2e;
$color-dark-grey		: #333333;
$color-black			: #000000;
$color-light-grey		: #bbbbbb;
$color-blue				: #2FA2E8;
$color-blue-dark		: #3270D8;
$color-light-grey		: #E7E8EA;
$color-mischa			: #D3D7DE;

$primary-color:          #4E4662;
$second-color:           #9199A8;
$third-color:            #5E6775;
$fourth-color:           $color-light-grey;

$body-bg:                #fff;
$text-color:             $second-color;

// Fonts
//...............
$primary-font:           'Lato', sans-serif;
$title-font: 			 'Asap', sans-serif;
$font-size:              14px;

//fonts-type
$font_thin:'';
$font_light: '300';
$font_regular:'400';
$font_smbold:'600';
$font_bold:'700';	 

